<section id="cart-empty" class="js-auto-height">
	<div class="error-message vertical-center">
  	<div class="wrapper">
      	<div class="row">
          	<div class="col-xs-10 col-xs-offset-1">
                <h2 class="gamma">It appears that your cart is currently empty!</h2>
                <p class="delta">You can continue browsing <a href="/collections/all">here</a>.</p>
          </div>
          <!-- /.col -->
      </div>
     <!-- /.row -->
  </div>
  <!-- /.wrapper -->
  </div>
  <!-- /.error-message -->
</section>

