<section id="cart-summary">
  <div class="wrapper">
  	<div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
       
  
<form action="/cart" method="post">
  
  <ul id="cart-summary-header" class="cart-layout">
      <li></li>
      <li>Price</li>
      <li>Quantity</li>
      <li>Total</li>
  </ul>
  <!-- /#cart-header -->
  
  <ul id="cart-summary-list">

    {% for item in cart.items %}    
    	<li class="cart-summary-list-item">
      {% comment %}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {% endcomment %}
      
      {% assign collection_url = item.product.collections.last.url %}
      {% if collection_url == '/collections/frontpage' or collection_url == blank %}
        {% assign collection_url = '/collections/all' %}
      {% endif %}
      
      {% if forloop.first %}
        {% assign continue_shopping_url = collection_url %}
      {% endif %}
		
      <ul class="cart-layout">
        
          <li>
              <div class="product-tbn">
                  <a href="{{ collection_url }}{{ item.url }}">
                    <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
                  </a>
              </div>
              <!-- /.product-tbn -->
              <div class="product-info" style="display:none:">
                  
              		<h2 class="delta product-name">
                    <a href="{{ collection_url }}{{ item.url }}">
                      <span class="line-item-product-title {{ item.variant.title }}" style="display:block;">{{ item.product.title }}</span>
                      {% if item.variant.title != "Default Title" %}<span class="line-item-variant-title" style="display:block; padding: 3px 0px; margin: 0px 0px 5px 0px; font-size: 80%;">{{ item.variant.title }}</span>{% endif %}
                    </a>
               	  </h2>
                
                  	{% assign properties_amount = item.properties | size %}
                    {% if properties_amount > 0 %}
                      	<p>
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                            {{ p.first }}:
                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}
                            <br />
                          {% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}
                    
                	<h3 class="epsilon product-vendor">{{ item.vendor }}</h3>

                	<a class="product-remove" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
                
              </div>
              <!-- /.product-info -->
          </li>
        
          <li>
         	 {{ item.price | money }}
          </li>
        	<li>
          		<input class="product-quantity" type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
       		 </li>
        <li>{{ item.line_price | money }}</li>

    </ul>
    <!-- /.cart-layout -->
    </li>
    <!--/.cart-summary-list-item -->
    {% endfor %}
    
  </ul>
  <!-- /#cart-summary-list -->
  
  <div id="cart-checkout">
    
    <div class="row">
    
  {% comment %}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {% endcomment %}
      
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
    	<h3>Special instructions for seller</h3>
    	<textarea name="note">{{ cart.note }}</textarea>
  	  </div>
      
        
    <div class="col-xs-12 col-md-5"> 
      	<div class="cart-total">
          <h3 class="gamma">Subtotal <em>{{ cart.total_price | money }}</em></h3>
          <a class="continue-shopping" href="{{ continue_shopping_url }}">Continue shopping?</a>
          <br/>
          <input class="update-cart" type="submit" name="update" value="Update cart" />
          <br/>
          <input class="checkout" type="submit" name="checkout" value="Check out" />    
          {% comment %}Paypal and Google checkout buttons{% endcomment %}
          {% if additional_checkout_buttons %}
          <p class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </p>
          {% endif %}
      </div>
      <!-- /.cart-total -->
    </div>
    <!-- /.col -->

       
       
    {% comment %}
    For the special instructions to be submitted with order,
    we need to use a name attribute set to 'note'.
    {% endcomment %}      
    
    </div>
    <!-- /.row -->
      
  </div>
  <!-- /#cart-checkout -->

</form>
        
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.wrapper -->     
        
</section>