{% paginate collections[collection_handle].products by collection_pagination %}

	<div class="collection-of-products">

		<div class="wrapper"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<ul class="collection-product-list row">

				{% for product in collections[collection_handle].products %}
                  
						{% assign product-feature-image = product.featured_image | product_img_url: '1000x' %}
						{% assign product-feature-image-xs = product.featured_image | product_img_url: '50x' %}
                  		{% assign product-title = product.title %}
                  		{% assign productURL = product.url | within: collection %}
                  		{% assign productPrice = product.price | money %}
                  		{% assign productType = product.type %}

                       	<li class="collection-item col-xs-12 col-sm-6 col-md-4">
                          
                          	<div class="collection-product">

                                <a href="{{ productURL }}" style>

                                      <div class="product-image">   
	                                      
	                                     <div class="lazyload-container lazyload-container--image">
	                                        <img class="lazyload lazyload--image" src='{{ product-feature-image-xs }}' data-src="{{ product-feature-image }}" alt="{{ product-title }}"/>
                                         </div>                           

                                          <div class="product-image__overlay">
                                              <span class="product-meta product-meta--product-cta"></span>
                                          </div>
                                          <!-- /.product-image__overlay -->

                                      </div>
                                      <!-- /.product-image -->

                                      <div class="product-info">

                                          <h3 class="product-info__title">{{ product-title }}</h3>
                                          <!-- /.product-info__title -->

                                            {% if false %}
                                                <p class="product-info__teaser">Medium hold for slick or textured style</p>
                                            {% endif %}

                                          {% for variant in product.variants %}
                                              {% if forloop.first %}
                                                  {% assign firstVarianPrice = variant.price | money_without_currency %}
                                              {% endif %}
                                          {% endfor %}

                                            <div class="product-info__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span class="product-price--currency-symbol" itemprop="priceCurrency" content="{{ shop.currency }}">$</span>
                                                <span class="product-price--amount" itemprop="price" content="{{ firstVarianPrice }}">{{ firstVarianPrice }}</span>
                                                <span class="product-price--currency">{{ shop.currency }}</span>
                                            </div>
                                            <!-- /.product-info__price -->

                                      </div>
                                      <!-- /.product-info -->

                                </a>

                                <div class="collection-item-cta">

                                    <ul class="collection-item-cta__variant-list">

                                        {% assign inStock = product.available %}

                                        {% for variant in product.variants %}

                                            {% assign variantID = variant.id %}
                                            {% assign available = variant.available %}

                                            {% if available %}
                                                <li class="collection-item-cta__variant-list-item {% if variant == product.first_available_variant %}selected{% endif %}" data-variant-id="{{ variantID }}">
	                                                {% unless 'Default Title' == variant.title %}
	                                                	{{ variant.title }}
	                                                {% endunless %}
	                                            </li>
                                            {% else %}
                                                <li class="collection-item-cta__variant-list-item not-available" data-variant-id="{{ variantID }}">
													{% unless 'Default Title' == variant.title %}
	                                                	{{ variant.title }}
	                                                {% endunless %}
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>	
                                    <!-- /.collection-item-cta__variant-list -->

                                    {% if inStock %}
                                        <div class="collection-button collection-button--add-to-cart add-to-cart">Add to Cart</div>
                                        <input name="variantID" type='text' value="{{ product.first_available_variant.id }} " style="display:none;"/>
                                    {% else %}
                                        <div class="collection-button collection-button--out-of-stock">Out of Stock</div>
                                    {% endif %}

                                </div>
                              
                          	</div>
                          	<!-- /.collection-product -->
                                                        	
						</li>
						<!-- /.collection-item -->
                      
				{% endfor %}

			</ul>
			<!-- /.collection-product-list -->

			{% render 'collection--pagination' %}

		</div></div></div>
      	<!-- /.wrapper .row .col -->

	</div>
	<!-- /.collection-of-products -->
  
{% endpaginate %}