{% if collection.template_suffix.size > 0 %}
	{% assign collectionType = collection.template_suffix %}
{% else %}
	{% assign collectionType = 'default' %}
{% endif %}

{% if paginate.pages > 1 %}
	<div id="pagination" class="pagination pagination--collection pagination--collection-{{ collectionType }}">

   		<div class="pagination__main">
        	{{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      	<!-- /.pagination__main -->
      
	</div>
	<!-- /#pagination -->
{% endif %}  