{% comment %}

//////////////////////////////////////////////////////////
////  Push Content | Cart
//////////////////////////////////////////////////////////

{% endcomment %}

{% assign cart-icon-qty-increase = 'BARBER--ui-icon--qty-increase--dark-grey.svg' | asset_url %}
{% assign cart-icon-qty-decrease = 'BARBER--ui-icon--qty-decrease--dark-grey.svg' | asset_url %}

<div class="push-content push-content--overlay push-content--left push-content--overlay-left push-content--cart-summary" id="push-content--overlay-left">
			  
	<nav class="navigation navigation--push navigation--overlay navigation-left navigation--push-overlay-left">
				    
		<h2 class="push-content-headline">Your Cart Summary</h2>
		
		<form action="/cart" method="post" id="push-cart-form" class="push-cart-form">
				    
			<ul id="push-cart-list" class="push-cart-list">
                <!-- Javascript Injectd Here --> 	
			</ul>
            <!-- /.push-cart-list -->
				
			<div class="push-cart-total">
				<span class="push-cart-note push-cart-note--label">Subtotal:</span>
				<span class="push-cart-note push-cart-note--amount">{{ cart.total_price | money_with_currency }}</span>
                <span class="push-cart-note push-cart-note--continue-shopping"><a href="/collections/all/">Continue Shopping</a></span>
			</div>		
            <!-- /.push-cart-total -->
				              
            <div class="push-cart-cta push-cart-cta--checkout">
				<input type="submit" name="checkout" value="Checkout">
            </div>		
            <!-- /.push-cart-cta--checkout -->
			
		</form>
      	<!-- /.push-cart-form -->
      
		<p class="push-cart-empty-message" style="display: none;">It looks like your cart is empty! Please continue browsing <a href='/collections/all/'>here</a>.</p>
				    	    
	</nav>
	<!-- /.navigation--push-overlay-left -->
			  
</div>
<!-- /.push-content--cart-summary -->

<script type="text/javascript" charset="utf-8">
//<![CDATA[
    
    var qtyIcons = {
		increase : {{ cart-icon-qty-increase | json }},
		decrease : {{ cart-icon-qty-decrease | json }}
	};
    
	printAjaxCart();
  
	function printAjaxCart() {
		
		// console.log( 'is this being used' );
      
      	var getURL = "/cart.js";
 
      	jQuery.ajax({
            url: getURL,
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function(data){
	            
              	var items = data.items;
              	var cartSize = data.item_count;
              
              	$(".total-cart-items").html( cartSize );
              	
			  	if ( cartSize ) {
			  		printCart( items );
                } else {
					emptyCartMessage();
                }
              
            },
            error: function( jqXHR, textStatus, errorThrown ){
                console.log();
            },
            complete: function(data){
                console.log();
            }          
        });
      
		function printCart( $items ) {
          
			var cartListElement = "#push-cart-list"; 
			var html;
          
			if ( $items.length && $(cartListElement).length ) {
              
                var html;
				var imageFileTypes = [ ".png", ".jpg", ".jpeg", ".gif"  ];
                var shopCurrency = {{ shop.currency | json }};
                        	
				jQuery.each( $items, function(index, value) {
                      
					var item = this; 
                  
					var productTitle = this.product_title;
					var variantTitle = this.variant_title;
					var variantID = this.id;
					var variantQty = this.quantity;
					var variantPrice = (this.price/100).toFixed(2);
					var variantURL = this.url;
					var imageSRC = this.image;	
                                                     
                  	// check 'imageSRC' against array of image file types
                    jQuery.each( imageFileTypes, function(index, value){
						if ( imageSRC.indexOf( value ) !== -1 ) {
							// imageSRC string HAS proper image file type extension
							// replace string with 'small' version of image for optimization
							imageSRC = imageSRC.replace( value, "_small" + value ); 
							return false; 
                        }                      
                    });
                       	                  	
                    html = '';
                  
					html += "<li id='variant-id-" + variantID + "' class='push-cart-list-item' data-variant-id='" + variantID + "'>";
                  
						html += "<div class='push-cart-list-item__image'>";
	                    	html += "<a href='" + variantURL + "'>";
								html += "<img src='" + imageSRC + "' alt='" + productTitle + "'/>";
							html += "</a>";
						html += "</div>";
                  
						html += "<div class='push-cart-list-item__info'>";
						
	                    	html += "<h2 class='product-title'>" + productTitle + "</h2>";
							html += "<div class='product-options product-options--quantity'>";
								if ( variantTitle != null ) {
									html += "<span class='product-variant product-variant--title'>" + variantTitle + "</span>";
								}
								html += "<ul class='product-quantity-list'>";
									html += "<li class='product-quantity-list-item product-quantity-list-item--decrease decrease js--update-cart'>";
										html += "<img src='" + qtyIcons.decrease + "' alt='Decrease Quantity'/>";
				                    html += "</li>";
									html += "<li class='product-quantity-list-item product-quantity-list-item--quantity quantity'>" + variantQty + "</li>";
									html += "<li class='product-quantity-list-item product-quantity-list-item--increase increase js--update-cart'>";
										html += "<img src='" + qtyIcons.increase + "' alt='Increase Quantity'/>";
									html += "</li>";
								html += "</ul>";
							html += "</div>";
							
							html += "<div class='product-options product-options--price'>";      
								html += "<span class='product-variant product-variant--price'>$" + variantPrice + " " + shopCurrency + "</span>";
								html += "<ul class='product-quantity-list'>";
									html += "<li class='product-quantity-list-item product-quantity-list-item--remove remove js--update-cart'>Remove</li>";
								html += "</ul>";
							html += "</div>";
							
						html += "</div>";
                  
						html += "<input style='display:none;' class='cart-list-item__quantity' type='number' name='updates[]' id='updates_" + variantID + "' value='" + variantQty + "' />";
                  
					html += "</li>";
                          
					jQuery( html ).appendTo( cartListElement );

				}); // $.each()
              
            } // if $products and ul element exist
          
        } // printCart
      
        function emptyCartMessage() {
          
          	$(".push-cart-empty-message").fadeIn(650);
          
        }
      
    }
   	    	   		
//]]>
</script>