{% assign nav_classes = block_element %}
{% assign list_classes = block_element | append: '__list' %}
{% assign list_item_classes = block_element | append: '__item' %}

{% if modifiers.size > 0 %}
	
	{% assign modifiers_arr = modifiers | split: ', ' %}
	
	{% for mod in modifiers_arr %}
	
		{% assign nav_classes = nav_classes | append: ' ' | append: block_element | append: '--' | append: mod %}
		{% assign list_classes = list_classes | append: ' ' | append: block_element | append: '__list' | append: '--' | append: mod %}
		{% assign list_item_classes = list_item_classes | append: ' ' | append: block_element | append: '__item' | append: '--' | append: mod %}
	
	{% endfor %}
		
{% endif %}

<nav class="{{ nav_classes }}{% if menu_heading != blank %} {{ block_element }}--{{ menu_heading | handle }}{% endif %}">
	
	{% if menu_handle or menu_heading %}
		
		<ul class="{{ list_classes }}">
			
			{% if menu_heading %}
				<li class="{{ list_item_classes }} heading">{{ menu_heading }}</li>
			{% endif %}
			
			{% for link in linklists[menu_handle].links %}
				
				{% if link.active %}
					{% assign list_item_classes = list_item_classes | append: ' active' %}
				{% endif %}
				
				<li class="{{ list_item_classes }}"><a href='{{ link.url }}'>{{ link.title }}</a></li>
					
			{% endfor %}
			
		</ul>
		
	{% endif %}
	
</nav>