{% comment %}

//////////////////////////////////////////////////////////
////  Push Content | Right
//////////////////////////////////////////////////////////

{% endcomment %}

{% assign wordpress_link = "https://www.barberandco.com" %}

<div class="push-content push-content--overlay push-content--right push-content--overlay-right push-content--booking-locations" id="push-content--overlay-right">
  
  <nav class="menu menu--push menu--book">
        <ul class="menu__list menu__list--push menu__list--book">
          <li class="menu__item menu__item--heading">Vancouver</li>
          <li class="menu__item menu__item--internal">
            <a href="https://online.getsquire.com/book/barber-and-co-gastown-vancouver-1/barber">Gastown</a>
          </li>
          <li class="menu__item menu__item--internal">
            <a href="https://online.getsquire.com/book/barber-and-co-main-street-vancouver/barber">Main Street</a>
          </li>
          <li class="menu__item menu__item--internal">
            <a href="https://online.getsquire.com/book/barber-and-co-yaletown-vancouver/barber">Yaletown</a>
          </li>
          <li class="menu__item menu__item--heading">Toronto</li>
          <li class="menu__item menu__item--internal">
            <a href="{{ wordpress_link }}/barbershop/bay-street/">Bay Street</a>
          </li>
          <li class="menu__item menu__item--internal">
            <a href="https://online.getsquire.com/book/barber-and-co-ossington-toronto/barber">Ossington</a>
          </li>
        </ul>
        <!-- /.menu__list -->
      </nav>
      <!-- /.menu--book -->
     	  
</div>
<!-- /.push-content--booking-locations -->