{% comment %}

//////////////////////////////////////////////////////////
////  Push Content | Left
//////////////////////////////////////////////////////////

{% endcomment %}

<div class="push-content push-content--left push-content--main-menu" id="push-content--left">
  
	<div class="brand">
		<a href='{{ wordpress_url }}'>
			<img src='{{ 'BARBER--brand--symbol--dark-grey.svg' | asset_url }}' alt="Barber & Co. Logo" />
		</a>
	</div>
	<!-- /.brand -->
	
	<nav class="menu menu--push menu--main">
		
		<ul class="menu__list menu__list--push menu__list--main">
			
			<li class="menu__item menu__item--collapsible">
			
				<div class="collapsible">
					<div class="collapsible__trigger" data-toggle="collapse" data-target="#products">
						<span class="collapsible__icon">+</span>
						<span class="collapsible__title">Products</span>
					</div>
					<!-- /.collapsible__trigger -->
					<div class="collapsible__content collapse in" id="products">
						<div class="collapsible__padding">
							
							<ul class="sub-menu__list sub-menu__list--push sub-menu__list--main">
								<li class="sub-menu__item sub-menu__item--shopify"><a href="/collections/hair">Hair</a></li>
								<li class="sub-menu__item sub-menu__item--shopify"><a href="/collections/shave">Shave</a></li>
								<li class="sub-menu__item sub-menu__item--shopify"><a href="/collections/beard">Beard</a></li>
								<li class="sub-menu__item sub-menu__item--shopify"><a href="/collections/gifts">Gifts</a></li>
								<li class="sub-menu__item sub-menu__item--shopify"><a href="/collections/grooming">All</a></li>
							</ul>
							<!-- /.sub-menu__list -->
														
						</div>
						<!-- /.collapsible__padding -->
					</div>
					<!-- /.collapsible__content -->
				</div>
				<!-- /.collapsible -->
				
			</li>
			<!-- /.menu__item--collapsible -->
			
			<li class="menu__item menu__item--collapsible">
			
				<div class="collapsible">
					<div class="collapsible__trigger" data-toggle="collapse" data-target="#shops">
						<span class="collapsible__icon">+</span>
						<span class="collapsible__title">Shops</span>
					</div>
					<!-- /.collapsible__trigger -->
					<div class="collapsible__content collapse in" id="shops">
						<div class="collapsible__padding">
							
							<ul class="sub-menu__list sub-menu__list--push sub-menu__list--main">
								<li class="sub-menu__item sub-menu__item--heading">Vancouver</li>
								<li class="sub-menu__item sub-menu__item--internal">
									<a href="{{ wordpress_url }}/barbershop/gastown/">Gastown</a>
								</li>
								<li class="sub-menu__item sub-menu__item--internal">
									<a href="{{ wordpress_url }}/barbershop/main-street/">Main Street</a>
								</li>
								<li class="sub-menu__item sub-menu__item--internal">
									<a href="{{ wordpress_url }}/barbershop/yaletown/">Yaletown</a>
								</li>
								<li class="sub-menu__item sub-menu__item--heading">Toronto</li>
								<li class="sub-menu__item sub-menu__item--internal">
									<a href="{{ wordpress_url }}/barbershop/bay-street/">Bay Street</a>
								</li>
								<li class="sub-menu__item sub-menu__item--internal">
									<a href="{{ wordpress_url }}/barbershop/ossington/">Ossington</a>
								</li>
							</ul>
							<!-- /.sub-menu__list -->
							
						</div>
						<!-- /.collapsible__padding -->
					</div>
					<!-- /.collapsible__content -->
				</div>
				<!-- /.collapsible -->
				
			</li>
			<!-- /.menu__item--collapsible -->
			
			<li class="menu__item menu__item--internal">
				<a href="{{ wordpress_url }}/lab/">Lab</a>
			</li>
			<!-- /.menu__item--internal -->
			
			<li class="menu__item menu__item--internal">
				<a href="{{ wordpress_url }}/about/">About</a>
			</li>
			<!-- /.menu__item--internal -->
			
			<li class="menu__item menu__item--internal">
				<a href="{{ wordpress_url }}/contact/">Contact</a>
			</li>
			<!-- /.menu__item--internal -->
			
		</ul>
		<!-- /.menu__list--main -->
		
	</nav>
	<!-- /.menu--main -->
	
	<div class="hr"></div>
	
	<nav class="menu menu--push menu--social">
		
		<ul class="menu__list menu__list--push menu__list--social">
			
			<li class="menu__item menu__item--external">
				<a href="https://www.instagram.com/barberandco/" target="_blank">Instagram</a>
			</li>
			<li class="menu__item menu__item--external">
				<a href="https://www.facebook.com/barberandcoyaletown" target="_blank">Facebook</a>
			</li>
			
		</ul>
		<!-- /.menu__list--social -->
		
	</nav>
	<!-- /.menu__social -->
	
</div>
<!-- /.push-content--left -->