{% for link in linklists.footer-navigation-social.links %}
	<li class="footer-link-item footer-link-item--social {% if link.active %}active{% endif %}"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
{% endfor %}