{% for link in linklists.footer-navigation-legal.links %}
	<li class="footer-link-item footer-link-item--legal {% if link.active %}active{% endif %}"><a href="{% if link.type == 'http_link'%}{{ BARBER_wpURL }}{% endif %}{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}