<div id="recommended-products">
  
  <div class="wrapper"><div class="row"><div class="col-xs-12">
    
    <h2>Barber Recommended</h2>
    	
    <ul id="recommended-product-list" class="recommended-products-list">



    </ul>
    <!-- /.recommended-products-list -->
    
    </div></div></div>
  	<!-- /.wrapper .row .col -->
  
</div>
<!-- /#recommended-products -->
              	
<script type="text/javascript" charset="utf-8">
//<![CDATA[
  
  	// recommended product criteria
	var RPCriteria = RPCriteria || {};
  
  	// get product vendor
  	RPCriteria.vendor = {{ product.vendor | json }};

    // get product collection(s)	
    RPCriteria.collections = {{ product.collections | json }};
    
    // get product type
    RPCriteria.type = {{ product.type | json }};
    
    // get prodcut tags 
    RPCriteria.tags = {{ product.tags | json }};
    
    // get product id
    RPCriteria.id = {{ product.id | json }};
      
  	recommendedProducts();
  
  	//////////////////////////////////////////////////////////
	////  Recommended Products Function
	//////////////////////////////////////////////////////////
  
  	function recommendedProducts() {
      
      	var recommendedProductsArr = [];
  		var recommendedProductsCount = 0;
      
      	var getURL = "/products.json?limit=250?";
            
      	jQuery.ajax({
      		url: getURL,
          	type: "GET",
          	dataType: "json",
          	contentType: "application/json",
          	success: function(data){
              
              	var products = data.products;
              	var availableProducts, relevantProducts, shuffledProducts;	
                
              	// get available products
              	availableProducts = returnAvailableProducts( products );
              
              	//console.log( "Current Product ID: " + RPCriteria.id );
              	//console.log( "Available Products: " + JSON.stringify( availableProducts, null, 2)  );
              	
              	// sort available products based on 'relevant' criteria
              	relevantProducts = returnRelevantProducts( availableProducts );
              
              	//console.log( "Relevant Products: " + JSON.stringify( relevantProducts, null, 2)  );
              
              	// shuffle 'relevant' products
                // shuffledProducts = randomizedProducts( relevantProducts );
               
              	// print 'recommendend' products to page via HTML
              	//printRecommendedProducts( shuffledProducts );
              
            },
          	error: function( jqXHR, textStatus, errorThrown ){
              console.dir( "Error! jqXHR: " + jqXHR + " TextStatus: " + textStatus + " Error Thrown: " + errorThrown );
              console.log( jqXHR );
            },
          	complete: function(data){
            	console.log("Complete!");
            	console.dir(data);	
            }
        });
      
      	//////////////////////////////////////////////////////////
		////  Return Array of Available Products
		//////////////////////////////////////////////////////////
       
      	function returnAvailableProducts( $products ) {
            
          	// RETURNS ALL PRODUCTS THAT ARE AVAILABLE
          
          	if ( $products.length ) {
              
              	var product, productID, variants, productIsAvailable;
              	var availableProductsArr = [];
              
            	jQuery.each( $products, function(index, value) {
                  
                  	//console.log(value);
         
                  	product = value;
                  	productID = product.id;
                  	variants = product.variants;
                  	productIsAvailable = false;
                  
                  	if ( variants.length ) {
                      
                      	jQuery.each( variants, function(index, value) {
                                                    
                          	if ( value.available ) {
                          		// if variant available
                              	productIsAvailable = true;
                              	return false;
                            }
                          
                        });
                  
                    }
                  
                  	if ( productIsAvailable && productID !== RPCriteria.id ) {
                      
                      	// if product is available 
                      	// AND is not current product
                      	// add to availableProductsArr
                      	availableProductsArr.push(product);
                                      
                    }
                  	
                }); // end jQuery.each
                            
            } // end if $products defined and has at least one item
          
          	return availableProductsArr;
          
        } // returnAvailableProducts( $products )
      
      	//////////////////////////////////////////////////////////
		////  Return Array of Relevant Products
		//////////////////////////////////////////////////////////
      
      	function returnRelevantProducts( $products ) {
        	
          	if ( $products.length) {
              
              	var product, productVendor, productType, randomProduct;
              	var returnRelevantProductsArr = [];
              	var vendorProductsArr = [];
              	var relevantProductCount = 0;
              
              	jQuery.each( $products, function(index, value) {
                  
                  	product = value;
                  	productVendor = product.vendor;
                  	productType = product.product_type;
                    
                  	// if product type and vendor are the same, include in array
                  	if ( RPCriteria.vendor === productVendor && RPCriteria.type === productType ) {
                      	relevantProductCount++;
                      	returnRelevantProductsArr.push(product);
                    }
                  
                  	if ( RPCriteria.vendor === productVendor ) {
                  		vendorProductsArr.push(product);
                  	}
                  
              	});
              
              	relevantProductCount = returnRelevantProductsArr.length;
              
              	if ( relevantProductCount < 4 ) {
              
                  	console.log( "[ returnRelevantProducts( $products ) ] Error : Not Enough Products! Currently " + relevantProductCount + " Recommended Products" );
                  
                  	if ( $products.length > 4 ) {
                  
                        while ( relevantProductCount < 4 ) {

                            randomProduct = $products[Math.floor(Math.random()*$products.length)];

                            if ( contains( returnRelevantProductsArr, randomProduct ) ) {

                                // randomProduct IS IN current 'relevant' products array
                                // DO NOTHING
                                //console.log("Random Product " + randomProduct.title + " is already in recommended list");

                            } else {

                                // randomProduct IS NOT IN current 'relevant' products array
                                // ADD PRODUCT TO 'relevant' array
                                //console.log("Random Product " + randomProduct.title + " IS NOT in recommended list, so add to list!");
                                //console.log( "While Loop current count before increase: " +  relevantProductCount );
                                returnRelevantProductsArr.push(randomProduct);
                                relevantProductCount++;

                            }

                        } // end while
                      
                    } else {
                    
                      	return returnRelevantProductsArr;
                      
                    }
              
              		//console.log("Hybrid Relevant Array is : " + JSON.stringify(returnRelevantProductsArr, null, 2) );
                                    
                } else {
                  	//console.log( "[ returnRelevantProducts( $products ) ] Success! Currently " + relevantProductCount + " Recommended Products" );
                }	
                            
              	// console.log("Total Relevant Products: " + relevantProductCount );
              
              	return returnRelevantProductsArr;
                                          
          	} // end if $products defined and has at least one item
          	        
        } // returnRelevantProducts( $products )
           
                        
        //////////////////////////////////////////////////////////
		////  Returns True if Object is In Array
		//////////////////////////////////////////////////////////
                        
        function contains( $arr, $obj ) {
			for (var i = 0; i < $arr.length; i++) {
				if ( $arr[i] === $obj ) {
					return true;
                }
            }
            return false;
        }                
      
      	//////////////////////////////////////////////////////////
		////  Return Randomized Relevant Products
		//////////////////////////////////////////////////////////
      
      	function randomizedProducts( $array ) {
                      	
            var currentIndex = $array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while ( 0 !== currentIndex ) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = $array[currentIndex];
                $array[currentIndex] = $array[randomIndex];
                $array[randomIndex] = temporaryValue;

            }
          
            return $array;

    	} // shuffleProducts( $array )
      
      	function printRecommendedProducts( $products ) {
        
          	if ( $products.length && jQuery("#recommended-product-list").length ) {
              
              	var recommendedProductsList = jQuery("#recommended-product-list");
                var html;
          	
              	jQuery.each( $products, function(index, value) {
                      
                	// console.log("Recommended Product 0" + index);
                   	// console.log(JSON.stringify(this, null, 2));
                      	
					if ( index === 4 ) {
                          
						return false;
                          
					} else {
                      
                      	var imageURL = "";
                    	var productImages = value.images;
                      
                      	if ( productImages.length ) {
                      		imageURL = productImages[0].src;
                        }
                                            
                        html = '';
                        html += '<li class="recommended-product-item">';
                        html += '<a href="/products/' + value.handle + '">';
                        html += '<div class="product-image product-image--background" style="background-image: url(' + imageURL + ');">';
  						html += '<div class="product-image-overlay"></div>';
  						html += '</div>';
                        html += '<div class="product-info">';
                        html += '<h3 class="product-meta product-name product-name--recommended">' + value.title + '</h3>';
                        html += '<span class="product-meta product-price product-price--recommended">$' + value.variants[0].price + '</span>';
                        html += '</div>';
                        html += '</a>';
                        html += '</li>';
                          
                        jQuery( html ).appendTo( "#recommended-product-list" );
                   	}

				}); // $.each()
            
            } else {
            	console.log("No Recommended Products or List Element");
            }
        
        } // printRecommendedProducts( $products )
      
 	} // recommendedProducts() 
    	   		
//]]>
</script>