//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

// Clearfix

@mixin clearfix {
	clear: both;
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
     }
}

// Calculate

@mixin calc( $property, $expression ) {
	#{$property}: -moz-calc( #{$expression} );
	#{$property}: -webkit-calc( #{$expression} );
	#{$property}: calc( #{$expression} );
}

// Vertical Center

@mixin vertical-center {
  	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-center-reset {
  	position: relative;
	top: unset;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

// Background Cover

@mixin background-gradient ( $direction: top, $first_colour: #fff, $second_colour: #000 ) {
	background: -webkit-linear-gradient( $direction, $first_colour, $second_colour ); 
	background: -moz-linear-gradient( $direction, $first_colour, $second_colour ); 
	background: -ms-linear-gradient( $direction, $first_colour, $second_colour ); 
	background: -o-linear-gradient( $direction, $first_colour, $second_colour ); 
	background: linear-gradient( $direction, $first_colour, $second_colour );
}

@mixin background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin background ( $size: cover ) {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

// transforms 

@mixin transformRotate ( $degree: 0, $transformX: 0px, $transformY: 0px, $transformZ: 0px ) {
	-webkit-transform: rotate( #{$degree}deg ) translate3d( $transformX, $transformY, $transformZ );
	-moz-transform: rotate( #{$degree}deg ) translate3d( $transformX, $transformY, $transformZ );
	-ms-transform: rotate( #{$degree}deg ) translate3d( $transformX, $transformY, $transformZ );
	-o-transform: rotate( #{$degree}deg ) translate3d( $transformX, $transformY, $transformZ );
	transform: rotate( #{$degree}deg ) translate3d( $transformX, $transformY, $transformZ );
}

@mixin transform3d ( $transformX: 0px, $transformY: 0px, $transformZ: 0px ) {
	-webkit-transform: translate3d( $transformX, $transformY, $transformZ );
	-moz-transform: translate3d( $transformX, $transformY, $transformZ );
	-ms-transform: translate3d( $transformX, $transformY, $transformZ );
	-o-transform: translate3d( $transformX, $transformY, $transformZ );
	transform: translate3d( $transformX, $transformY, $transformZ );
}

@mixin scale ( $transformX: 0, $transformY: 0 ) {
	-webkit-transform: scale( $transformX, $transformY );
	-moz-transform: scale( $transformX, $transformY );
	-ms-transform: scale( $transformX, $transformY );
	-o-transform: scale( $transformX, $transformY );
	transform: scale( $transformX, $transformY );
}

@mixin rotate ( $degree ) {
	-webkit-transform: rotate( #{$degree}deg );
	-moz-transform: rotate( #{$degree}deg );
	-ms-transform: rotate( #{$degree}deg );
	-o-transform: rotate( #{$degree}deg );
	transform: rotate( #{$degree}deg );
}

// Border Radius

@mixin border-radius ( $radius ) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

// Box Shadow

@mixin box-shadow ( $horizontalOffset: 0px, $verticalOffset: 0px, $blurRadius: 0px, $spreadRadius: 0px, $colour: #000 ) {
	-webkit-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $colour;
	-moz-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $colour;
	box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $colour;
}

@mixin box-shadow ( $top, $left, $blur, $spread, $color, $inset: false ) {
	@if $inset {
    	-webkit-box-shadow: inset $top $left $blur $spread $color;
		-moz-box-shadow: inset $top $left $blur $spread $color;
		box-shadow: inset $top $left $blur $spread $color;
	} @else {
    	-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}

@mixin box-shadow-reset( $important: false ) {
	@if $important {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
	} @else {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}
}

// Opacity

@mixin opacity ( $opacity ) {
	-khtml-opacity: $opacity;  
	-moz-opacity: $opacity;  
	-ms-filter: alpha(opacity=$opacity * 100); 
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100); 
	filter: alpha(opacity=$opacity * 100);
	opacity: $opacity;
}

// Animations

@mixin keyframes ( $animation-name ) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation ( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// Transitions

@mixin transitions-all ( $timing: 280, $delay: 0 ) {
	-webkit-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	-moz-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	-ms-transition:  all #{$timing}ms ease-in-out #{$delay}ms;
	-o-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	transition: all #{$timing}ms ease-in-out #{$delay}ms;
	-webkit-backface-visibility: hidden;
}

@mixin transitions ( $property: all, $timing: 300, $delay: 0 ) {
	-webkit-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	-moz-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	-ms-transition:  $property #{$timing}ms ease-in-out #{$delay}ms;
	-o-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	-webkit-backface-visibility: hidden;
}

@mixin transitions-reset {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition:  none;
	-o-transition: color 0 ease-in;
	transition: none;
}

// Placeholder Text

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

// Responsive Breakpoints

@mixin breakpoint( $point ) {
	
	@if $point == xs {
		@media ( min-width: $theme-breakpoint--xs ) { @content; }
	}
	
	@else if $point == sm {
		@media ( min-width: $theme-breakpoint--sm ) { @content; }
	}
	
	@else if $point == md {
		@media ( min-width: $theme-breakpoint--md )  { @content; }
	}
	
	@else if $point == lg {
		@media ( min-width: $theme-breakpoint--lg )  { @content; }
	}
	
	@else if $point == xlg {
		@media ( min-width: $theme-breakpoint--xlg )  { @content; }
	}
  
}

// Columns

@mixin columns ( $number, $width, $gap: normal ) {
	-webkit-columns: $number $width;
	-moz-columns: $number $width;
    columns: $number $width;
    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
}

// Deep Get
// example: background: map-deep-get( $theme-vars, 'secondary', 'yellow' );

@function map-deep-get ( $map, $keys... ) {
	
  $value: $map;
  
  @each $key in $keys {
    $value: map-get ( $value, $key );
  }
  
  @return $value;
  
}

// Tint ( make lighter )

@function tint( $color, $percentage ) {
	
  @return mix( white, $color, $percentage );
  
}

// Shade ( make darker )

@function shade( $color, $percentage ) {
	
  @return mix( black, $color, $percentage );
  
}

@mixin greysacle ( $value ) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

@mixin brightness ( $value ) {
	-webkit-filter: brightness( $value );
    filter: brightness( $value );
}