//////////////////////////////////////////////////////////
////  Layout & Grid | Vars
//////////////////////////////////////////////////////////

$theme-wrapper-max: 1600px;

$theme-gutter: 15px;

$theme-breakpoint--xs: 560px;
$theme-breakpoint--sm: 768px;
$theme-breakpoint--md: 992px;
$theme-breakpoint--lg: 1200px;

$theme-wrapper--xs: 520px;
$theme-wrapper--sm: 748px;
$theme-wrapper--md: 960px;
$theme-wrapper--lg: 1160px;

//////////////////////////////////////////////////////////
////  Theme | Variables
//////////////////////////////////////////////////////////

$theme-header-height: 100px;
$theme-header-height--sm: 90px;
$theme-header-height--md: 90px;
$theme-header-height--lg: 90px;

$theme-footer-height: 75px;
$theme-footer-height--sm: 80px;
$theme-footer-height--md: 90px;
$theme-footer-height--lg: 90px;

//////////////////////////////////////////////////////////
////  Typgoraphy | Variables
//////////////////////////////////////////////////////////

$theme-sans-serif: "brandon-grotesque", sans-serif;
$theme-serif: 'Archer', serif;

$theme-font-weight-light: 300;
$theme-font-weight-normal: 400;
$theme-font-weight-semi-bold: 600;
$theme-font-weight-bold: 700;

$theme-body-font-size: 14px;
$theme-body-font-size-xs: 15px;
$theme-body-font-size-sm: 16px;
$theme-body-font-size-md: 13px;
$theme-body-font-size-lg: 15px;

//////////////////////////////////////////////////////////
////  Colour | Variables
//////////////////////////////////////////////////////////

$theme-colours: (
	'black': #000,
	'white': #fff,
	'dark-grey': #282524,
	'mid-grey': #404041,
	'light-grey': #f0f0f0,
	'beige': #f7f5f0,
	'red': #be1e2d,
	'off-beige': #ddd
);

$theme-black: map-get( $theme-colours, 'black' );
$theme-white: map-get( $theme-colours, 'white' );
$theme-dark-grey: map-get( $theme-colours, 'dark-grey' );
$theme-mid-grey: map-get( $theme-colours, 'mid-grey' );
$theme-light-grey: map-get( $theme-colours, 'light-grey' );
$theme-beige: map-get( $theme-colours, 'beige' );
$theme-red: map-get( $theme-colours, 'red' );
$theme-off-beige: map-get( $theme-colours, 'off-beige' );
