//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

$location-image: 220px;
$location-image--xs: 260px;
$location-image--sm: 330px;
$location-image--md: 265px;
$location-image--lg: 320px;

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section--locations {
		
	.locations {
		
		a {
			@include transitions-all(280);
		}
		
		&__contact,
		&__city {
			font-family: $theme-serif;
			font-weight: 200;
			font-size: 15px;
		}
		
		&__grid,
		&__item {
			//margin: 0;
			//padding: 0;
			//list-style: none;
		}
		
		&__grid {
			margin-bottom: -4*($theme-gutter);
		}
		
		&__item,
		&__sizr {
			// @include transitions-all(280);
			margin-bottom: 4*($theme-gutter);
		}
		
		&__sizr { 
			display: none;
		}
		
		&__image {
			height: $location-image;
			position: relative;
			width: 100%;
			& > div {
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.no-image {
				background: $theme-light-grey;
			}
		}
	
		&__info {
			@include clearfix;
			margin: 30px 0 0 0;
			padding: 0 26px;
		}
		
		&__name {
			color: $theme-black;
			border-bottom: 1px solid rgba(0, 0, 0, 0.03);
			padding-bottom: 12px;
			a {
				color: inherit;
				&:hover, &:focus {
					color: tint( $theme-black, 45% );
				}
			}
		}
		
		&__contact {
			color: $theme-dark-grey;
			margin-top: 15px;
			ul, li {
				font-size: inherit;
				font-weight: inherit;
				font-family: inherit;
			}
			li {
				line-height: 0.9;
				margin: 0 0 14px 0;
				&:last-child {
					margin: 0;
				}
			}
			a {
				color: inherit;
				&:hover, &:focus {
					color: tint( $theme-dark-grey, 45% );
				}
			}
		}
		
		&__title {
			font-family: $theme-sans-serif;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			& + .locations__city {
				margin-top: 8px;
			}
		}
		
		&__city {
			margin: 0;
			padding: 0;
		}
		
	}
		
	@include breakpoint(xs) {

		.locations {
		
			&__grid,
			&__item {}
			
			&__grid {}
			
			&__item,
			&__sizr {}
				
			&__image {
				height: $location-image--xs;
			}
		
			&__info {}
			
			&__title {}
			
		}

	} // min width xs
	
	@include breakpoint(sm) {
		
		.locations {
		
			&__grid,
			&__item {}
			
			&__grid {}
			
			&__item,
			&__sizr {}
			
			&__image {
				height: $location-image--sm;
			}
		
			&__info {}
			
			&__name {
				width: 50%;
				float: left;
				border-bottom: none;
				padding-bottom: 0;
			}
			
			&__contact {
				width: 50%;
				float: right;
				margin: 0;
				li {
					margin: 0 0 10px 0;
				}
			}
			
			&__title {
				& + .locations__city {
					margin-top: 5px;
				}
			}
			
		}

	} // min width sm
	
	@include breakpoint(md) {
		
		.locations {
			
			&__contact,
			&__city {
				font-size: 13px;
			}
		
			&__grid,
			&__item {}
			
			&__grid {
				//margin-right: -$theme-gutter;
				//margin-left: -$theme-gutter;
			}
			
			&__item,
			&__sizr {
				//width: 50%;
				//margin-right: $theme-gutter;
				//margin-left: $theme-gutter;
			}
			
			&__sizr {
				background: red;
			}
			
			&__item {
				//float: left;
			}
			
			&__image {
				height: $location-image--md;
			}
		
			&__info {
				height: 60px;
				margin: 22px 0 0 0;
				padding: 0 18px;
			}
			
			&__name {}
			
			&__contact {}
			
			&__title {
				font-size: 14px;
			}
		
		}
	
	} // min width md
	
	@include breakpoint(lg) {
		
		.locations {
		
			&__contact,
			&__city {
				font-size: 15px;
			}
		
			&__grid,
			&__item {}
			
			&__grid {}
			
			&__item,
			&__sizr {}
			
			&__image {
				height: $location-image--lg;
			}
		
			&__info {
				margin: 25px 0 0 0;
				padding: 0 20px;
			}
			
			&__title {
				font-size: 16px;
			}
			
		}
	
	} // min width lg
	
} // .section--locations

