{% assign is_production = true %}
{% assign enable_seo = true %}

{% assign template_classes = '' %}
{% if template.name != blank %}
	{% assign template_classes = template_classes | append: template.name %}
	{% if template.suffix != blank %}
		{% assign template_classes = template_classes | append: ' ' | append: template.name | append: '--' | append: template.suffix %}
	{% endif %}
{% endif %}
{% if customer %}
	{% assign template_classes = template_classes | append: ' customer-logged-in' %}
{% endif %}

{% assign template_info = template | replace: '.', ' ' | truncatewords: 1, '' | handle %}
{% assign template_suffix = template.suffix %}

{% assign GLB-wordpress-url = settings.general--wordpress-url | default: "https://www.barberandco.com" %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
    
  <!-- Title -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  <!-- Title -->
    
	<link href='//www.google-analytics.com' rel='dns-prefetch'>
        
  <link href='{{ 'favicon.ico' | asset_url }}' type='image/x-icon' rel='shortcut icon' />
  <link href='{{ 'apple-touch-icon.png' | asset_url }}' type='image/png' rel='apple-touch-icon'>
    
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Daymarker Digital">
	<meta http-equiv="Expires" content="7" />
	
	<link rel='canonical' href='{{ canonical_url }}'>

	{% if is_production %}
		{% if enable_seo %}
		
			<!-- ### SEO ENABLED ### -->
			
			<!-- Description -->
		    {% if page_description %}
		    	<meta name="description" content="{{ page_description | escape }}">
		    {% endif %}
		    <!-- End of Description -->
		    
		    <!-- Social Meta -->
		    {% render 'social-meta-tags' %}
		    <!-- End of Social Meta -->

			<!-- Google Analytics -->
		    {% render 'common--google-analytics' %}
		    <!-- End of Google Analytics -->
		    
			<!-- ### SEO ENABLED ###  -->
		    
		{% else %}
 			<!-- ### SEO DISABLED ### -->
			<meta name="robots" content="noindex, nofollow">
			<!-- ### SEO DISABLED ### -->
		{% endif %}
				
	{% else %}
		<!-- ### SEO DISABLED ### -->
		<meta name="robots" content="noindex, nofollow">
		<!-- ### SEO DISABLED ### -->
	{% endif %}

    <!-- Site Styles -->
	{{ 'style.css' | asset_url | stylesheet_tag }}
	<!-- End of Site Styles -->

	<!-- Header Scripts -->
    {% render 'common--scripts' %}
	<!-- End of Header Scripts -->
  
	{{ 'jQuery--1.12.4.min.js' | asset_url | script_tag }}
	
	<!-- Shopify Specific -->
	{% if template contains 'customer' %}
		{{ 'option_selection.js' | shopify_asset_url | script_tag }}
		{{ 'customer_area.js' | shopify_asset_url | script_tag }}
		{{ "shopify_common.js"  | shopify_asset_url | script_tag }}
	{% endif %}
  <!-- End of Shopify Specific -->  
	    
  <script type="text/javascript">
	    
	  //////////////////////////////////////////////////////////
		////  Store Object
		//////////////////////////////////////////////////////////
	    
	    // init obj
	    var StoreInfo = StoreInfo || {};   
	        
	    // set vars
	    StoreInfo.cart = {{ cart | json }};
	    StoreInfo.currency = {{ shop.currency | json }};
	    StoreInfo.orders = [];
	    StoreInfo.assets = {
	        icons : {
		        qty_decrease : {{ 'BARBER--ui-icon--qty-decrease--dark-grey.svg' | asset_url | json }},
		        qty_increase : {{ 'BARBER--ui-icon--qty-increase--dark-grey.svg' | asset_url | json }}
		    }
	    };  	    
	
		{% if template contains 'product' %}
			StoreInfo.product = {{ product | json }};
		{% endif %}
	
		{% if template contains 'collection' %}    
			StoreInfo.collection = {{ collection | json }};
		{% endif %}
		
	</script>
	
	<!-- Header Hook for Plugins -->
  {{ content_for_header }}
  <!-- End Header Hook for Plugins -->
			   
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} IS THIS CORRECT">
    
	{% section 'loading-screen' %}  
  
	{% render 'common--push-content-left', wordpress_url: GLB-wordpress-url  %} 
	
	{% render 'common--push-content-cart', wordpress_url: GLB-wordpress-url %} 
  
	{% render 'common--push-content-right' %} 
  
	{% section 'header' %}   

    <div id="site-container" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
		
    	{{ content_for_layout }}
        
        {% section 'footer' %} 

    </div>
    <!-- /#site-container -->
    
    <script type='text/javascript' src='{{ 'Daymarker.min.js' | asset_url }}'></script>        
 	  
	{% assign $google_maps_api = false %}
	{% if $google_maps_api %}
		<script src="https://maps.googleapis.com/maps/api/js?key={{ $google_maps_api }}&callback=GoogleMaps.init"></script>
	{% endif %}

</body>

</html>