.page--index {
	
	background: #f7f5f0;
	padding: 84px 0 64px;
	
	@include breakpoint(xs) {
		padding: 88px 0 68px;
	} // min width xs
	
	@include breakpoint(sm) {
		padding: 95px 0 75px;
	} // min width sm
	
	@include breakpoint(md) {
		padding: 95px 0 75px;
	} // min width md
	
	@include breakpoint(lg) {
		padding: 120px 0 100px;
	} // min width lg
	
} // .page--index 