//////////////////////////////////////////////////////////
////  Experience Page | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Experience Page  | Styles
//////////////////////////////////////////////////////////

#experience {
	
	.section {
		display: block;
		width: 100%;
	}
	
	.section--origins {
		margin-bottom: 40px;
	}
	
	.section--founders {
		background: $theme-beige;
		padding: 40px 0px 60px;
	}
	
	img, a {
		display: block;
		width: 100%;
	}
	
	.origins-images,
	.process {
		margin-top: 35px;
	}
	
	.origins-images {
		position: relative;
	}
	
	.origins, .history, .process {
		@include clearfix;
	}
	
	@include breakpoint(xs) {
		
		.section--origins {
			margin-bottom: 50px;
		}
		
		.section--founders {
			padding: 45px 0px 85px;
		}
	
	} // min width xs
		
	@include breakpoint(sm) {
		
		.section--origins {
			margin-bottom: 55px;
		}
		
		.section--founders {
			padding: 55px 0px 95px
		}
			
	} // min width sm
		
	@include breakpoint(md) {
		
		.section--origins {
			margin-bottom: 125px;
			.image--small {
				width: 200px;
			    right: -120px;
			    top: -160px;
			}
		}
		
		.section--founders {
			padding: 100px 0px 200px;
		}
		
		.origins-images {
			position: relative;
			margin-top: 40px;
		}
		
		.image--small,
		.image--wide {
			position: absolute;
		}
				
		.history {
			
			margin-bottom: 65px;
			
			.origins-images {
				margin-top: 0px;
			}
			
			.headline {
				margin-top: 110px;
			}
			
			.image--wide {
				top: -150px;
			    left: -280px;
			    width: 370px;
			}
			
			.image--square {
				
			}
			
		}
		
		.process {
			margin-top: 0px;
			
			.image--wide {
				bottom: -125px;
			    left: -70px;
			    width: 320px;
			}
			
		}
		
	} // min width md
		
	@include breakpoint(lg) {
				
	} // min width lg
	
} // #experience