//////////////////////////////////////////////////////////
////  Contact Us | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

#contact-us {
	
	.content {
		margin-bottom: 30px;
		text-align: left;
	}
	
	.headline,
	.message {
		margin: 0px;
	}
	
	.headline + .message {
		margin-top: 18px;
	}
	
	@include breakpoint(xs) {
		
		.headline + .message {
			margin-top: 19px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.headline + .message {
			margin-top: 20px;
		}
			
	} // min width sm
	
	@include breakpoint(md) {
		
		.headline + .message {
			margin-top: 22px;
		}

	} // min width md
	
	@include breakpoint(lg) {
			
	} // min width lg

} // #thank-you 