//////////////////////////////////////////////////////////
////  Lab | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Lab | Styles
//////////////////////////////////////////////////////////

#lab {
	
	padding-bottom: 60px;
	
	.message,
	.section--lab {
		margin-bottom: 35px;
	}
	
	.section--products {
		text-align: center;
		.message {
			margin: 0px;
		}
	}
	
	img { 
		width: 100%;
		display: block;
	}
	
	.product-list,
	.product-list-item {
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	
	.product-list {
		display: block;
		margin-top: 35px;
	}
	
	.product-list-item {
		display: inline-block;
		margin: 0px 0px 45px 0px;
		text-align: center;
		a {
			display: block;
			width: 100%;
			height: 100%;
			&:hover {
				.product-image {
					@include opacity(0.8);
				}
				.headline--product-title {
					color: #000;
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
	}
	
	.product-image {
		@include transitions-all(300,45);
		display: block;
		margin: 0px auto 18px;
		max-width: 200px;
	}
	
	.headline--product-title {
		font-weight: 500;
		letter-spacing: 0.18em;
		font-size: 16px;
	}
	
	@include breakpoint(xs) {
		
		padding-bottom: 80px;
		
		.message,
		.section--lab {
			margin-bottom: 55px;
		}
		
		.product-list {
			margin-top: 55px;
		}
		
		.product-list-item {
			margin: 0px 0px 55px 0px;
		}

		.product-image {
			max-width: 250px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		padding-bottom: 100px;
		
		.message,
		.section--lab {
			margin-bottom: 65px;
		}
		
		.product-list {
			margin-top: 65px;
		}
		
		.product-list-item {
			margin: 0px 0px 65px 0px;
		}

		.product-image {
			max-width: 300px;
		}
		
		
	} // min width sm
	
	@include breakpoint(md) {
		
		padding-bottom: 160px;
			
		.message,
		.section--lab {
			margin-bottom: 75px;
		}
		
		.product-list {
			margin-top: 75px;
		}
		
		.lab-images {
			position: relative;
			
			.image--small {
				position: absolute;
				width: 185px;
			    left: -75px;
			    top: -155px;
			}
			
		}
		
		.product-list {
			text-align: center;
		}
		
		.product-list-item {
			width: 25%;
			margin: 0px 70px 40px 0px;
			&:nth-child(3n) {
				margin-right: 0px;
			}
			&:nth-child(3n + 1) {
				clear: both;
			}
		}
		
		.product-image {
			max-width: none;
		}
		
		.headline--product-title {
			font-size: 12px;
		}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		padding-bottom: 180px;
		
		.message,
		.section--lab {
			margin-bottom: 85px;
		}
		
		.product-list {
			margin-top: 85px;
		}
		
		.product-list-item {
			width: 27%;
			margin-bottom: 50px;
		}
		
		.lab-images {
			position: relative;
			
			.image--small {
				width: 210px;
			    left: -85px;
			    top: -145px;
			}
			
		}
		
		.headline--product-title {
			font-size: 14px;
		}
		
	} // min width lg

} // #lab