//////////////////////////////////////////////////////////
////  Thank You | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Thank You | Styles
//////////////////////////////////////////////////////////

#thank-you {
	
	padding: 0px;
	
	.error-message--404 {
		@include vertical-center;
		text-align: center;
	}
	
	.headline--error {
		font-size: 18px;
		margin-bottom: 12px;
	}
	
	a {
		@include transitions-all(250);
		color: $theme-dark-grey;
		display: inline-block;
		border-bottom: 1px solid $theme-dark-grey;
		&:hover {
			color: $theme-mid-grey;
			border-bottom: 1px solid transparent;
		}
	}
	
	@include breakpoint(xs) {
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.error-message--404 {
			
		}
		
	} // min width sm
	
	@include breakpoint(md) {

	} // min width md
	
	@include breakpoint(lg) {
			
	} // min width lg

} // #thank-you 