{% assign wordpress-url = settings.general--wordpress-url | default: 'https://www.barberandco.com' %}

<div class="footer__main">
	
	<div class="wrapper">
		<div class="row">
		
			<div class="col-xs-9 col-md-3">
			
				<div class="footer__newsletter">
					
					<form action="//donnellygroup.us12.list-manage.com/subscribe/post?u=f9ed1f1423ba352d5eaef6fa7&amp;id=5cb0f8426c" method="post" target="_blank" novalidate="">
						<h2>Get Wishes</h2>
						<fieldset>
							<input class="input input--email" type="email" value="" name="EMAIL" placeholder="I wish I was a little bit taller...">
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_f9ed1f1423ba352d5eaef6fa7_5cb0f8426c" tabindex="-1" value="">
							</div>
						</fieldset>
						<fieldset>
							<input type="submit" name="subscribe" value="Subscribe +">
						</fieldset>
					</form>
					
				</div>
				<!-- /.footer__newsletter -->
					
				<div class="footer__brand">
					<a href='{{ wordpress-url }}'>
						<img src='{{ wordpress-url }}/wp-content/themes/barberandco/img/brand/BARBER-web-content-logo-symbol-beige.svg' alt="Barber &amp; Co. Logo">
					</a>
				</div>
				
			</div>
			<!-- /.col -->
		
			<div class="col-xs-12 col-sm-9 col-md-7 col-md-offset-1">
  			
  			{% assign navigation-items = section.blocks | where: "type", "navigation" %}
  			
  			{% if navigation-items.size > 0 %}
  					
  				<nav class="menu menu--footer menu--main">
    				    				
    				{% for item in navigation-items %}
    				    				
    				  {% assign title = item.settings.title %}
    				  {% assign menu = item.settings.menu %}
    				      				  
    				  {% if title != blank %}
    				  
    				    <ul class="menu__list menu__list--footer">
    						  <li class="menu__item menu__item--footer menu__item--heading">{{ title }}</li>
    						  {% for link in linklists[menu].links %}
                    <li class="menu__item menu__item--footer">
                      <a href="{{ link.url }}"{% if title contains "social" or title contains "Social" %}target="_blank"{% endif %}>{{ link.title }}</a>
                    </li>
                  {% endfor %}
    				    </ul>
    				  
    				  {% endif %}
    				    				
  					{% endfor %}
  					
  				</nav>
  				<!-- /.menu--main -->
  				
        {% endif %}
				
			</div>
			<!-- /.col -->
	
		</div>
		<!-- /.row -->
	</div>
	<!-- /.wrapper -->
	
</div>
<!-- /.footer__main -->
	
<div class="footer__legal">
	
	<div class="wrapper"><div class="row"><div class="col-xs-12">
			
		<div class="footer__hr"></div>
			
		<nav class="menu menu--footer menu--legal">
  		
  		{% assign legal-menu = section.settings.legal--menu | default: false %} 
  		
  		{% if legal-menu %}
  			<ul class="menu__list menu__list--footer menu__list--legal">
    			{% for link in linklists[legal-menu].links %}
  				  <li class="menu__item menu__item--footer"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
  			</ul>
  		{% endif %}
				
		</nav>
		<!-- /.menu--legal -->
			
		<p class="footer__copyright">&copy; {{ "today" | date: "%Y" }} Barber &amp; Co</p>
			
	</div></div></div>
	<!-- /.wrapper .row .col -->

</div>
<!-- /.footer__legal -->

{% schema %}
	{
    "name": "Footer",
    "tag": "footer",
    "class": "footer footer--section",
    "settings": [
		  {
        "content": "Footer",
        "type": "header"
			},
			{
				"content": "Legal",
				"type": "paragraph"
			},
			{
				"label": "Menu",
				"type": "link_list",
				"id": "legal--menu"		           
			}
		],
		"blocks": [
		  {
        "name": "Navigation",
        "type": "navigation",
        "settings": [
				  {
						"label": "Title",
						"type": "text",
						"id": "title"		           
					},
					{
						"label": "Menu",
						"type": "link_list",
						"id": "menu"		           
					}
		    ]
			}
		]
	}
{% endschema %}