{% assign wordpress-url = settings.general--wordpress-url | default: 'https://www.barberandco.com' %}

{% assign logo-dark-grey = 'BARBER--brand--wordmark--dark-grey.svg' | asset_url %}
{% assign logo-dark-beige = 'BARBER--brand--wordmark--beige.svg' | asset_url %}

{% assign icon-burger-dark-grey = 'BARBER--ui-icon--burger--dark-grey.svg' | asset_url %}
{% assign icon-burger-beige = 'BARBER--ui-icon--burger--beige.svg' | asset_url %}

{% assign nav-cta-product-image-left = 'BARBER-nav-cta--product--classic-pomade.jpg' | asset_url %}
{% assign nav-cta-product-image-right = 'BARBER-nav-cta--product--shave-oil.jpg' | asset_url %}
{% assign nav-cta-location-image-left = 'BARBER-nav-cta--location--ossington.jpg' | asset_url %}
{% assign nav-cta-location-image-right = 'BARBER-nav-cta--location--financial-district.jpg' | asset_url %}
{% assign nav-cta-bar-image-left = 'BARBER-nav-cta--bar--gift-shop.jpg' | asset_url %}

<div class="header__main"> 
  						
	<div class="push-content-trigger push-content-trigger--burger-menu push-content-trigger--mobile" id="push-content-trigger--burger-menu">
		<img class="offset-theme-icon dark" src='{{ icon-burger-dark-grey }}' alt="Main Menu Trigger" />
		<img class="offset-theme-icon light" src='{{ icon-burger-beige }}' alt="Main Menu Trigger" />
	</div>
	<!-- /.header__push-content-trigger--left -->
			
	<div class="header-cta header-cta--shop push-content-trigger push-content-trigger--cart-summary desktop-only">
		<span class="copy offset-theme-color">
      Cart (<span class="total-cart-items">{{ cart.item_count }}</span>)
    </span>
	</div>
	<!-- /.header__push-content-trigger--right -->
			
	<div class="header-cta header-cta--book push-content-trigger push-content-trigger--book-now">
		<span class="copy offset-theme-color">Book</span>
	</div>
	<!-- /.header__push-content-trigger--right -->
						
	<div class="header__brand">
		<a href='{{ wordpress-url  }}'>
          	<img class="offset-theme-icon dark" src='{{ logo-dark-grey }}' alt="Beige Barber & Co. Logo" />
			<img class="offset-theme-icon light" src='{{ logo-dark-beige }}' alt="Dark Grey Barber & Co. Logo" />
		</a>
	</div>	
	<!-- /.header__brand -->		
						
	<div class="header__navigation">		
				
		<nav class="navigation navigation--main">
			<ul>
  			
  			{% assign navigation-items = section.blocks | where: "type", "navigation" %}
  			
  			{% if navigation-items.size > 0 %}
  			
  			  {% for item in navigation-items %}
    				    				
    				{% assign title = item.settings.title | default: false %}
    				{% assign link = item.settings.link | default: false %}
    				
    				{% if title %}
      				<li class="navigation-item navigation-item--main navigation-item--desktop offset-theme-color">
        				
        				{% if link %}
      				    <a class="abc" href='{{ link }}'>{{ title }}</a>
      				  {% else %}
      				    <span class="abc">{{ title }}</span>
      				  {% endif %}
      				  
      				  <nav class="navigation navigation--sub">
                  <div class="wrapper"><div class="row"><div class="col-md-12">
      				  
                    <ul>
                      {% for i in (1..2) %}
                        
                        {% assign sub-nav-title-handle = 'sub-nav--title-0' | append: i %}
                        {% assign sub-nav-links-handle = 'sub-nav--links-0' | append: i %}
                        
                        {% assign sub-nav-title = item.settings[sub-nav-title-handle] | default: false %}
                        {% assign sub-nav-links = item.settings[sub-nav-links-handle] | default: false %}
                        
                        {% if sub-nav-title %}
                          <li class="navigation-item navigation-item--sub navigation-item--heading">{{ sub-nav-title }}</li>
                        {% endif %}
                        
                        {% if sub-nav-links %}
                          {% for link in linklists[sub-nav-links].links %}
          									<li class="navigation-item navigation-item--sub{% if link.active %} active{% endif %}"><a href='{{ link.url }}'>{{ link.title }}</a></li>
          								{% endfor %}
                        {% endif %}
                        
                      {% endfor %}
                    </ul>
                    
                    <ul class="call-to-actions">
                      {% for i in (1..2) %}
                      
                        {% assign cta-heading-handle = 'cta--heading-0' | append: i %}
                        {% assign cta-subheading-handle = 'cta--subheading-0' | append: i %}
                        {% assign cta-link-handle = 'cta--link-0' | append: i %}
                        {% assign cta-image-handle = 'cta--image-0' | append: i %}
                        
                        {% assign cta-heading = item.settings[cta-heading-handle] | default: false %}
                        {% assign cta-subheading = item.settings[cta-subheading-handle] | default: false %}
                        {% assign cta-link = item.settings[cta-link-handle] | default: false %}
                        {% assign cta-image = item.settings[cta-image-handle] | default: false %}
                                                
                        {% if cta-heading and cta-link and cta-image %}
                          <li class="call-to-actions__item">
                            <a href='{{ cta-link }}'>
                              <div class="call-to-actions__image lazyload-container lazyload-container--background-image">
                                <div class="lazyload lazyload--background-image" data-bg="{{ cta-image | img_url: '400x' }}" style="background-image:url({{ cta-image | img_url: '1x' }});"></div>
                              </div>
                              <span class="call-to-actions__headline">{{ cta-heading }}</span>
                              {% if cta-subheading %}
                                <span class="call-to-actions__headline call-to-actions__headline--sub">{{ cta-subheading }}</span>
                              {% endif %}
                            </a>
                        	</li>
                      	{% endif %}
                      
                      {% endfor %}
                    </ul> 
                                                  				                 
                  </div></div></div>
                  <!-- /.wrapper .row .col -->
                </nav>
                <!-- /.navigation--sub -->
      				   
      				</li>
      				<!-- /.navigation-item -->
    				{% endif %}
    				
          {% endfor %}
            				
				{% endif %}
											
				<li class="navigation-item navigation-item--main push-content-trigger push-content-trigger--cart-summary mobile-only offset-theme-color">Cart (<span class="total-cart-items">{{ cart.item_count }}</span>)</li>
				<!-- /.navigation-item--main -->		
              
			</ul>
		</nav>
		<!-- /.navigation--main -->
									
	</div>
	<!-- /.header__navigation -->
	
</div>
<!-- /.header__main -->

{% schema %}
	{
    "name": "Header",
    "tag": "header",
    "class": "header header--section sticky offset-theme light",
    "settings": [
		  {
				"content": "Announcements",
				"type": "header"
			},
			{
				"label": "Show Announcements",
				"type": "checkbox",
				"default": false,
				"id": "announcements--enable"
			},
			{
				"label": "Show on Home Page Only",
				"type": "checkbox",
				"default": true,
				"id": "announcements--home-page-only"
			},
			{
				"label": "Message",
				"type": "text",
				"default": "Announce something here.",
				"id": "announcements--message"
			},
			{
				"label": "Link",
				"type": "url",
				"info": "Optional",
				"id": "announcements--link"
			}
		],
		"blocks": [
		  {
        "name": "Navigation",
        "type": "navigation",
        "settings": [
				  {
						"label": "Title",
						"type": "text",
						"id": "title"		           
					},
					{
  					"label": "Link",
  					"type": "url",
            "id": "link"
          },
          {
    				"content": "Sub Navigation",
    				"type": "header"
    			},
    			{
						"label": "Title",
						"type": "text",
						"id": "sub-nav--title-01"		           
					},
					{
  					"label": "Link",
  					"type": "link_list",
            "id": "sub-nav--links-01"
          },
          {
						"label": "Title",
						"type": "text",
						"id": "sub-nav--title-02"		           
					},
					{
  					"label": "Link",
  					"type": "link_list",
            "id": "sub-nav--links-02"
          },
          {
    				"content": "Call to Actions",
    				"type": "header"
    			},
    			{
						"label": "Heading",
						"type": "text",
						"id": "cta--heading-01"		           
					},
					{
						"label": "Subheading",
						"type": "text",
						"id": "cta--subheading-01"		           
					},
					{
						"label": "Link",
						"type": "url",
						"id": "cta--link-01"		           
					},
					{
						"label": "Image",
						"type": "image_picker",
						"id": "cta--image-01"		           
					},
					{
						"label": "Heading",
						"type": "text",
						"id": "cta--heading-02"		           
					},
					{
						"label": "Subheading",
						"type": "text",
						"id": "cta--subheading-02"		           
					},
					{
						"label": "Link",
						"type": "url",
						"id": "cta--link-02"		           
					},
					{
						"label": "Image",
						"type": "image_picker",
						"id": "cta--image-02"		           
					}
		    ]
			}
		]
	}
{% endschema %}