<div class="loading-screen loading-screen--page-load js-loading-screen--page-load">
	
	<div class="loader loader--brand">
		<div class="brand">
			<img src='{{ 'BARBER--brand--symbol--beige.svg' | asset_url }}' alt="Barber & Co. Logo"/>
		</div>
		<!-- /.brand -->
	</div>
	<!-- /.loader -->

</div>
<!-- /.loading-screen--page-load -->

<div class="loading-screen loading-screen--busy js-loading-screen--busy">
	
	<div class="loader loader--spinner">
		<div class="spinner"></div>
	</div>
	
</div>
<!-- /.loading-screen--busy -->

{% schema %}
	{
	    "name": "Loading Screen",
	    "tag": "section",
	    "class": "loading-screen",
	    "settings": [
			{
				"content": "Loading Screen",
				"type": "header"
			},
			{
				"content": "Fields to come...",
				"type": "paragraph"
			}
		],
		"blocks": []
	}
{% endschema %}