//////////////////////////////////////////////////////////
////  Cart | Variables
//////////////////////////////////////////////////////////

$offset-header-top: 64px; 
$offset-header-top-xs: 68px;
$offset-header-top-sm: 75px;
$offset-header-top-md: 85px;
$offset-header-top-lg: 100px;

//////////////////////////////////////////////////////////
////  Cart | Styles
//////////////////////////////////////////////////////////

#cart {

	padding-top: $offset-header-top + 25px;
  	padding-bottom: 60px;
  	background: $theme-beige;
  
  	.headline--section-title {
  		text-align: center;
      	margin-bottom: 30px;
    }
  
  	.cart-summary--header {
  		display: none;
    }
  
  	.cart-summary--main {
  		border-top: 1px solid $theme-off-beige;
      	border-bottom: 1px solid $theme-off-beige;
    }
  
  	.cart-summary-item--main {
  		display: block;
      	padding: 10px 0px;
      	border-bottom: 1px solid rgba(221, 221, 221, 0.33);
      	&:last-child {
      		border-bottom: none;
        }
    }
  
  	.cart-summary-cell {
    	text-align: center;
    }
  
  	.cart-summary-cell--image {
      	img, a {
			display: block;
			width: 100%;
			height: 100%;
       	}
      	a {
      		width: 180px;
          	margin: 0px auto 20px;
        }
    }
  
  	.cart-summary-cell--price,
  	.cart-summary-cell--quantity,
  	.cart-summary-cell--total {
  		padding: 10px 0px;
    }
  
  	.cart-summary-cell--quantity {
      	input {
      		display: block;
          	width: 33%;
          	margin: 0px auto;
          	padding-left: 8px;
          	padding-top: 5px;
          	padding-bottom: 5px;
			background: transparent;
          	border: none;
          	outline: none;
          	text-align: center;
          	&:focus {
          		background: #fff;
            }
        }
    }
  
  	.headline--product-title {
      	font-size: 16px;
      	margin-bottom: 6px;
      	a:hover {
      		color: #000;
        }
    }
  
  	.product-variant-title {
  		margin-bottom: 12px;
    }
  
  	.button--remove-line-item {
      	@include opacity(0.22);
  		display: inline-block;
      	width: auto;
      	color: #282524;
		border: 1px solid $theme-red;
      	padding: 10px 20px;
   		min-width: 0;
      	margin-bottom: 12px;
		&:hover {
          	@include opacity(1);
			color: $theme-red;
		}
    }
  
  	.cart-summary--checkout {
  		text-align: center;
    }
  	
  	.cart-summary-meta {
  		display: block;
      	margin-bottom: 10px;
    }
  
  	.cart-summary-meta--continue-shopping {
 		margin-bottom: 20px;
      	a {
          	color: $theme-dark-grey;
      		display: inline-block;
          	padding-bottom: 1px;
          	line-height: 90%;
          	border-bottom: 1px solid $theme-dark-grey;
        }
      	a:hover {
      		border-bottom: 1px solid transparent;
        }
    }
  
  	.button--update-cart,
    .button--checkout {
    	margin-right: 90px;
		margin-left: 90px;
   	}
  	
  	.button--update-cart {
  		border: 1px solid $theme-dark-grey;
      	margin-bottom: 20px;
      	&:hover {
      		@include opacity(0.33);
        }
  	}
  
  	.button--checkout {
  		border: 1px solid $theme-dark-grey;
      	background: $theme-dark-grey;
      	color: #fff;
      	&:hover {
      		background: #000;
        }
  	}
  
  	&.empty {
  		padding-top: 0px;
    }
  
 	.error-message--empty-cart {
    	@include vertical-center;
      	text-align: center;
      
      	.headline--error {
      		font-size: 18px;
    		margin-bottom: 12px;
        }
      
    }
  
  
    @include breakpoint(xs) {
    
    	padding-top: $offset-header-top-xs + 30px;
      	padding-bottom: 70px;
      
      	.cart-summary-cell--image {
            a {
                width: 200px;
            }
        }

        .cart-summary-cell--price,
        .cart-summary-cell--quantity,
        .cart-summary-cell--total {
            padding: 12px 0px;
        }

        .headline--product-title {
            font-size: 18px;
        }

        .product-variant-title {
            margin-bottom: 14px;
        }

        .cart-summary-meta--continue-shopping {
            margin-bottom: 25px;
        }

      	.button--update-cart,
      	.button--checkout {
       		margin-right: 120px;
            margin-left: 120px;
        }
      
        .button--update-cart {
            margin-bottom: 25px;
        }

    } // min width xs

    @include breakpoint(sm) {
    
    	padding-top: $offset-header-top-sm + 25px;
      	padding-bottom: 80px;
      
      	.headline--section-title {
          	font-size: 18px;
      		margin-bottom: 18px;
        }
      
		.cart-summary--header {
            display: block;
          	margin: 0px 0px 6px 0px;
          
          	.cart-summary-cell {
          		padding-top: 0px;
              	padding-bottom: 0px;
            }
          
        }
      
      	.cart-summary--table {
      		display: table;
            table-layout: fixed;
            width: 100%;
        }
      
      	.cart-summary-cell {
      		display: table-cell;
          	vertical-align: middle;
          	text-align: left;
        }
      
      	.cart-summary-cell--image {
      		width: 10%;
          	a {
          		width: 100%;
              	margin: 0px;
            }
        }
      
      	.cart-summary-cell--info {
      		width:30%;
          	padding-left: 20px;
        }
      
      	.cart-summary-cell--price {
      		width: 10%;
          	text-align: right;
          	padding-right: 20px;
        }
      
      	.cart-summary-cell--quantity {
      		width: 10%;
          	text-align: center;
          	input {
            	width: 50%;
              	padding-top: 5px;
              	padding-bottom: 5px;
            }
        }
      
      	.cart-summary-cell--total {
          	width: 8%;
      		text-align: right;
        }
      
      	.headline--product-title {
      		font-size: 14px;
          	margin-bottom: 0px;
        }
          
        .product-variant-title {
        	margin-bottom: 10px;
        }
      
      	.button--remove-line-item {
      		font-size: 8px;
          	margin: 0px;
        }
      
      	.cart-summary--checkout {
            text-align: right;
        }

        .cart-summary-meta {
            display: block;
            margin-bottom: 8px;
        }

        .cart-summary-meta--continue-shopping {
            margin-bottom: 15px;
        }
      
      	.button--update-cart,
      	.button--checkout {
       		margin: 0px;
        }

        .button--update-cart {
          	margin-right: 10px;
        }
  
    } // min width sm

    @include breakpoint(md) {
    
    	padding-top: $offset-header-top-md + 30px;
      	padding-bottom: 90px;
      	
      	.headline--section-title {
      		margin-bottom: 30px;
        }
      
      	.cart-summary-item--main {
            padding: 10px 0px;
        }

      	.cart-summary-cell--image {
          	a {
          		width: 110px;
              	margin: 0px auto;
            }
        }
      
      	.cart-summary-cell--info {
          	padding-left: 5px;
        }
      
      	.headline--product-title {
      		font-size: 14px;
        }
          
        .product-variant-title {
        	margin-bottom: 8px;
        }
      
      	.button--remove-line-item {
      		font-size: 8px;
          	padding: 8px 15px;
        }
      
    } // min width md

    @include breakpoint(lg) {
    
    	padding-top: $offset-header-top-md + 50px;
      	padding-bottom: 100px;
      
      	.headline--section-title {
      		margin-bottom: 50px;
        }
      
      	.cart-summary-item--main {
            padding: 12px 0px;
        }
      
      	.cart-summary-cell--image {
          	a {
          		width: 120px;
            }
        }
      
      	.cart-summary-cell--info {
          	padding-left: 10px;
        }
      
      	.cart-summary-cell--price {
      		padding-right: 40px;
        }
      
      	.headline--product-title {
      		font-size: 16px;
        }
          
        .product-variant-title {
        	margin-bottom: 10px;
        }
      
      	.button--remove-line-item {
      		//font-size: 10px;
        }
      
    } // min width lg
  
} // #cart