//////////////////////////////////////////////////////////
////  Collection | Variables
//////////////////////////////////////////////////////////

$offset-header-top: 64px; 
$offset-header-top-xs: 68px;
$offset-header-top-sm: 75px;
$offset-header-top-md: 85px;
$offset-header-top-lg: 100px;

//////////////////////////////////////////////////////////
////  Collection | Styles
//////////////////////////////////////////////////////////

#collection,
.collection {
  
  	background: $theme-beige;
  	padding-top: $offset-header-top + 20px;
  	padding-bottom: 40px;
  	
  	.lazyload-container--image {
	  	background: rgba(0,0,0,0.05);
	  	overflow: hidden;
  	}
  
  	.collection-cover {
  		margin-bottom: 35px;
    }
  
  	.navigation--collection {
 		padding-bottom: 10px;
    	border-bottom: 1px solid rgba(128, 128, 128, 1);
      	ul {
      		margin: 0px;
          	padding: 0px;
          	text-align: left;
        }
      	li {
      		margin: 0px 10px 0px 0px;
          	font-family: $theme-sans-serif;
            font-weight: 500;
            letter-spacing: 0.18em;
            font-size: 12px;
            text-transform: uppercase;
          	&.active {
              	a {
              		color: $theme-dark-grey;
                }	
            }
          	&:last-child {
          		margin: 0px;
            }
        }
      
      	a {
      		display: block;
          	color: #877f7b;
          	&:hover {
          		color: $theme-dark-grey;
            }
        }
    }
  
  	.collection-product-list {
  		@include clearfix;
      	margin-right: -15px;
      	margin-left: -15px;
    }
  
  	.collection-item {
      	@include transitions-all(300);
      	margin-bottom: 25px;
      	a {
      		display: block;
            width: 100%;
            height: 100%;
          	&:hover {
              	.product-image__background-image {
              		@include opacity(0.8);
                }
              	.product-info__title,	
              	.product-info__price,
              	.product-info__teaser {
              		color: #000;
                }
            }
        }
      	&:hover {
          	.collection-item-cta {
          		@include opacity(1);
            }
        }
      	&:last-child {
      		margin-bottom: 0px;
        }
    }
  
  	.collection-product {
      	width: 100%;
      	max-width: 250px;
      	margin: 0px auto 0px;
    }
  
  	.product-image {
  		width: 100%;
        position: relative;
      	margin: 0px 0px 15px 0px;
      	img {
      		width: 101%;
        }
    }
  
  	.product-image__background-image,
  	.product-info__title,	
  	.product-info__price,
  	.product-info__teaser {
      	@include transitions-all(300);
      	display: block;
      	margin: 0px;
      	padding: 0px;
    }
  	
  	.product-image__background-image {
      	@include background-cover;
      	position: absolute;
      	width: 100%;
      	height: 100%;
      	top: 0;
      	left: 0;
    }
    
  	.product-info__title,	
  	.product-info__price {
  		font-family: $theme-sans-serif;
      	color: $theme-dark-grey;
        font-weight: 500;
        letter-spacing: 0.18em;
        font-size: 12px;
        text-transform: uppercase;
    }
  	
  	.product-info__teaser {
  		color: #877f7b;
      	margin-top: 4px;
    }
  
  	.product-price--currency-symbol {
        margin-right: -4px;
    }
  
  
  	.collection-item-cta {
  		@include transitions-all(300);
      	@include opacity(1);
    }
  
  	.collection-item-cta__variant-list {
  		margin: 0px 0px 10px 0px;
    }
  
  	.collection-item-cta__variant-list-item {
      	@include transitions-all(300);
      	@include opacity(0.45);
  		display: inline-block;
      	vertical-align: middle;
      	width: auto;    
      	cursor: pointer;
      	margin-right: 14px;
      
      	&.selected {
      		@include opacity(1);
        }
      
      	&.not-available {
          	cursor: default;
        	text-decoration: line-through;
          	&:hover {
          		@include opacity(0.45);
            }
        }
      
      	&:hover {
      		@include opacity(0.75);
        }
      
      	&:last-child {
      		margin: 0px;
        }
      
    }
  
  	.collection-button {
      	@include transitions-all(300);
      	font-family: $theme-sans-serif;
        font-weight: 500;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 14px 0px;
        width: 160px;
        
        line-height: 90%;
      	font-size: 12px;
    }
  
  	.collection-button--add-to-cart {
  		color: #f7f5f0;
    	background: #282524;
      	cursor: pointer;
      	&:hover {
      		background: #000;
        }
    }
  
  	.collection-button--out-of-stock {
  		color: #282524;
      	border: 1px solid #282524;
    }
 
  	      
  	.pagination--collection {
  		display: block;
      	width: 100%;
      	margin-top: 40px;
      	padding-top: 20px;
      	border-top: 1px solid rgba(128, 128, 128, 0.15);
    }
  
  	.pagination__main {
  		font-family: $theme-serif;	
      	font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        color: inherit;
        letter-spacing: 0.045em;
      
      	span {
      		display: inline-block;
          	width: auto;
          	vertical-align: middle;
          	margin-right: 2px;
          	color: $theme-dark-grey;
          	&:last-child {
          		margin: 0px;
            }
        }
      
      	.current {
      		font-weight: 600;
        }
      
      	a {
     		color: #877f7b;
          	&:hover {
          		color: $theme-dark-grey;
            }
        }
     
    }
  
  	@include breakpoint(xs) {
      
    	padding-top: $offset-header-top-xs + 22px;
   		padding-bottom: 50px; 	
      
      	.navigation--collection {
         	li {
            	margin: 0px 10px 0px 0px;
            }  	font-size: 13px;
       	}
      
      	.collection-item {	
      		margin-bottom: 30px;
        }
      
      	.collection-product {
            max-width: 350px;
        }

      	.product-image {
            height: 400px;
            margin: 0px 0px 17px 0px;
        }

      	.product-info__title,	
        .product-info__price {
            font-size: 13px;
        }
      
      	.collection-item-cta__variant-list-item {
            margin-right: 15px;
        }
      
      	.pagination--collection {
            margin-top: 50px;
        }
      
    }  // min width xs

	@include breakpoint(sm) {
    
      	padding-top: $offset-header-top-sm + 24px;
    	padding-bottom: 60px; 

      	.navigation--collection {
         	li {
            	margin: 0px 10px 0px 0px;
            }  	font-size: 14px;
       	}
      
      	.collection-item {	
          	&:nth-child(2n+1) {
          		clear: both;
            }
        }
      
      	.collection-product {
            max-width: none;
        }
      
      	.product-image {
            height: 280px;
            margin: 0px 0px 18px 0px;
        }
      
      	.product-info__title,	
        .product-info__price {
            font-size: 14px;
        }
      
      	.collection-item-cta__variant-list-item {
            margin-right: 16px;
        }
      
      	.pagination--collection {
            margin-top: 60px;
        }
      
    }  // min width sm

    @include breakpoint(md) {
    
      	padding-top: $offset-header-top-md + 20px;
    	padding-bottom: 70px; 
      
      	.navigation--collection {
         	li {
            	margin: 0px 10px 0px 0px;
            }  	font-size: 10px;
       	}
      
      	.collection-item {	
          	&:hover {
                .collection-item-cta {
                    @include opacity(1);
                }
            }
           	&:nth-child(2n+1) {
          		clear: none;
            }
          	&:nth-child(3n+1) {
          		clear: both;
            }
        }
      
      	.product-image {
            height: 235px;
            margin: 0px 0px 18px 0px;
        }
      
      	.product-info__title,	
        .product-info__price {
            font-size: 10px;
        }
      
      	.collection-item-cta {
      		@include opacity(0);
        }
      
      	.collection-item-cta__variant-list-item {
            margin-right: 12px;
        }
      
      	.pagination--collection {
            margin-top: 70px;
        }
      
    }  // min width md

    @include breakpoint(lg) {
    
      	padding-top: $offset-header-top-lg + 22px;
    	padding-bottom: 80px; 
      
      	.navigation--collection {
         	li {
            	margin: 0px 10px 0px 0px;
            }  	font-size: 12px;
       	}
      
      	.product-image {
            height: 290px;
            margin: 0px 0px 18px 0px;
        }
      
      	.product-info__title,	
        .product-info__price {
            font-size: 12px;
        }
    
      	.collection-item-cta__variant-list-item {
            margin-right: 14px;
        }
      
      	.pagination--collection {
            margin-top: 80px;
        }
      
    }  // min width lg

} // #collection

.collection {
		padding: 0;
	@include breakpoint(xs) {
		padding: 0;
	} // min width xs
	
	@include breakpoint(sm) {
		padding: 0;
	} // min width sm
	
	@include breakpoint(md) {
		padding: 0;
	} // min width md
	
	@include breakpoint(lg) {
		padding: 0;
	} // min width lg
}