//////////////////////////////////////////////////////////
////  Embedded Content | Styles
//////////////////////////////////////////////////////////

.embedded-container { 
	position: relative; 
	//padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: 100%;
} 

.embedded-container iframe,
.embedded-container object,
.embedded-container embed { 
 	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}