form {
	
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}
	
	input, textarea {
		@include transitions-all(280);
		background: transparent;
	}
	
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg
	
} // form