//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

$header-feature-height: 200px;
$header-feature-height-xs: 200px;
$header-feature-height-sm: 200px;
$header-feature-height-md: 200px;
$header-feature-height-lg: 200px;

$header-height: 64px; 
$header-height-xs: 68px;
$header-height-sm: 75px;
$header-height-md: 85px;
$header-height-lg: 100px;

$transition-speed: 200;
$transition-delay: 0;

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

header {
	
	height: $header-height;
	font-family: $theme-sans-serif;
	background: rgba(247, 245, 240, 0.85);
	border-bottom: 1px solid transparent;
	
	.header__push-content-trigger,
	.header__brand,
	.header__navigation {}
	
	a {
		@include transitions( all, $transition-speed, $transition-delay );
	}
	
	.header__push-content-trigger,
	.header__brand,
	.header__navigation {
		position: absolute;
	}
	
	.push-content-trigger--cart-summary,
	.navigation li {
		@include transitions( all, $transition-speed, $transition-delay );
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		line-height: 90%;
	}
	
	.header-cta {
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		line-height: 90%;
		position: absolute;
		a {
			color: inherit;
		}
	}
	
	.header-cta--shop {
		left: 15px;
	    height: 16px;
	    top: 50%;
	    margin-top: -8px;
	}
		
	.push-content-trigger--burger-menu,
	.push-content-trigger--book-now {
		position: absolute;
	}
	
	.push-content-trigger {
		cursor: pointer;
		z-index: 12;
		font-size: 10px;
	    color: inherit;
	    	    	    
		img, span {
			@include transitions( all, $transition-speed, $transition-delay );
		}
		img {
			@include opacity(0);	
			position: absolute;
		}
	}
	
	.push-content-trigger--mobile {
		display: inline-block !important;
	}
	    
	.push-content-trigger--desktop {
		display: none !important;
	}
			
	.push-content-trigger--burger-menu {
		width: 20px;
		height: 12px;
		top: 50%;
		margin-top: -6px;
		left: 15px;
		&:hover {
			img {
				@include opacity(0.7);
			}
		}
	}
	
	.push-content-trigger--cart-summary {
		font-weight: 400;
	    letter-spacing: 0.2em;
	    text-transform: uppercase;
	    line-height: 90%;
	    &.push-content-trigger--mobile {
		    span {
			    @include transitions-reset;
		    }
	    }
	}
	
	.push-content-trigger--book-now {
		right: 15px;
		height: 16px;
		top: 50%;
		margin-top: -8px;
		span {
			display: inline-block;
			vertical-align: top;
			line-height: 90%;
		}
		.icon {
			height: 16px;
			width: 8px;
			position: relative;
		}
		.copy {
			font-size: 10px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			margin-top: 3px;
			margin-left: 2px;
		}
		&:hover {
			span {
				@include opacity(0.7);
			}
		}
	}
	
	.header__brand {
		width: 120px;
		height: 12px;
		left: 50%;
		margin-left: -60px;
		top: 12px;
		z-index: 12;
		img {
			@include transitions( all, $transition-speed, $transition-delay );
			@include opacity(0);	
			position: absolute;
		}
		
		a {
			@include transitions-reset;
		}
		
		&:hover {
			img {
				@include opacity(0.7);	
			}	
		}
	}
	
	.header__navigation {
		width: 100%;
		bottom: 12px;
		left: 0px;
		text-align: center;
	}
	
	.navigation {
		
		li {
			vertical-align: middle;
			display: inline-block;
			width: auto;
			color: inherit;
			margin: 0px 20px 0px 0px;
			&:last-child {
				margin: 0px;
			}
		}
		
		.navigation-item--main {
			&:hover {
				
			}
			a {
				color: inherit;
			}
		}
		
		.navigation-item--desktop {
			display: none;
		}
		
		.navigation-item--push-cart-trigger {
			@include transitions( all, $transition-speed, $transition-delay );
			cursor: pointer;
		}
		
	}
	
	.navigation--main {
		position: relative;
	}
	
	.navigation--sub {
		background: $theme-beige;
	}
			
	img {
		display: block;
		width: auto;
		height: auto;
	}	
		
	&.sticky {
		position: fixed;
		width: 100%;
		z-index: 10;
	}	
	
	.offset-theme-color {
		@include transitions( all, $transition-speed, $transition-delay );
	}
	
	.offset-theme-color a {
		@include transitions-reset;
		color: inherit;
	}
		
	&.dark {
		
		// Transparent Background
		// Beige Copy / Icons
		
		img.light {
			@include opacity(1);
		}
		img.dark {
			@include opacity(0);
		}
		.offset-theme-color {
			color: $theme-beige;
		}
		
		&:hover {
			background: $theme-beige;
			border-bottom: 1px solid $theme-off-beige;
			img.light {
				@include opacity(0);
			}
			img.dark {
				@include opacity(1);
			}
			.offset-theme-color {
				color: $theme-dark-grey;
			}
		}
	}
	
	&.light {
		
		// Transparent Background
		// Dark Grey Copy / Icons
		
		img.light {
			@include opacity(0);
		}
		img.dark {
			@include opacity(1);
		}
		.offset-theme-color {
			color: rgba(40, 37, 36, 0.5);
			&:hover {
				color: rgba(40, 37, 36, 1);
			}
		}
		
		&:hover {
			background: $theme-beige;
			border-bottom: 1px solid $theme-light-grey;
		}
	}
	
	&.page-template--front-page {
		background: transparent;
		border-bottom: 1px solid transparent;
		
		&.light {
			.offset-theme-color {
				color: rgba(40, 37, 36,1);
			}
		}
		
	}
	
	&.hover.light {
		.offset-theme-color {
			color: rgba(40, 37, 36, 0.5);
			&:hover {
				color: rgba(40, 37, 36, 1);
			}
		}
	}

	&.push-content-active {
		
		background: $theme-beige;
		border-bottom: 1px solid $theme-off-beige;
		
		img.light {
			@include opacity(0);
		}
		img.dark {
			@include opacity(1);
		}
		.offset-theme-color {
			color: $theme-dark-grey;
		}
		&.offset-from-top {
			@include box-shadow( 0px, 2px, 20px, 0px, rgba( 0,0,0,0.033 ) );
		}
	}
				
	@include breakpoint(xs) {
		
		height: $header-height-xs;
		
		.header__brand {
			top: 13px;
		}
		
		.header__navigation {
			bottom: 13px;
		}
		
		&.offset-from-top {}
					
	} // min width xs
	
	@include breakpoint(sm) {
			
		height:  $header-height-sm;
		
		.header__brand {
			top: 14px;
		}
		
		.header__navigation {
			bottom: 14px;
		}	
				
		&.offset-from-top {}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		height: $header-height-md;	
		
		.push-content-trigger--mobile {
			display: none !important;
		}
		    
		.push-content-trigger--desktop {
			display: inline-block !important;
		}
		
		.push-content-trigger--burger-menu {
			@include opacity(0);
			visibility: hidden;
		}
		
		.push-content-trigger--cart-summary {
			&.push-content-trigger--desktop {
				position: absolute;
				left: 15px;
				margin-top: -5px;
				top: 50%;
				span {
					@include transitions-reset;
				}
			}
		}
		
		.header__brand {
			width: 146px;
		    height: 14px;
		    left: 50%;
		    margin-left: -73px;
		    top: 16px;
		}
		
		.header__navigation {
			bottom: 0px;
		}	
		
		.navigation {
			
			a {
				@include transitions-reset;
				color: inherit;
			}
			
			.navigation-item--desktop {
				display: inline-block;
			}
			
			.navigation-item--mobile {
				display: none;
			}
			
			.navigation-item--main {
				padding-bottom: 19px;
			    padding-left: 8px;
			    padding-right: 8px;
			    margin-left: 15px;
			    margin-right: 15px;
			    &:first-child {
				    margin-left: 15px;
				    padding-left: 8px;
			    }
			    &:last-child {
				    margin-right: 15px;
				    padding-right: 8px;
			    }
			}
			
			.abc {
				display: block;
			}
			
			&.light {
				li {
					color: $theme-dark-grey;	
				}
			}
			&.dark {
				li {
					color: $theme-beige;	
				}
			}
		}
		
		.navigation--sub {
			@include transitions( background-color, $transition-speed, $transition-delay );
			display: none;
			position: absolute;
			top: 29px; // height of .navigation--main
			left: 0px;
			width: 100%;
			padding: 32px 0px;
			text-align: center;
			z-index: 20;
			
			ul {
				margin: 0 20px 0 0;
				display: inline-block;
				vertical-align: top;
				width: auto;
				
			}
			li { 
				display: block;
				text-align: left;
			}
			.navigation-item--sub {
				@include opacity(0.5);
				margin-bottom: 14px;
				margin-right: 0px;
				
				a {
					display: inline-block;
				}
				
				&:hover,
				&.active {
					@include opacity(1);
				}
				
				& + .navigation-item--heading {
					margin-top: 18px;
				}
				
			}
			
			.navigation-item--heading {
				@include opacity(1);
				font-family: $theme-serif;
				font-style: italic;
				font-weight: 100;
				letter-spacing: 0.05em;
				text-transform: none;
				font-size: 15px;
			}
			
			.call-to-actions__item {
				@include transitions-reset;
				vertical-align: top;
				display: inline-block;
				width: auto;
				margin-right: 20px;
              
              	.call-to-actions__image,
              	.call-to-actions__headline {
              		@include transitions( all, $transition-speed, $transition-delay );
                }
				
				a {  
                  	@include transitions-reset;
					display: block;
					&:hover {
						
                      .call-to-actions__image {
                      		@include opacity(0.8);
                      }
                      
                      .call-to-actions__headline {
                        	@include opacity(0.5);	
                      }
                      
                      
					}
				}
				
			}
			.call-to-actions__image {
				@include background-cover;
				display: block;
				width: 230px;
				height: 130px;
				
				& + .call-to-actions__headline {
					margin-top: 11px;
				}
				
			}
			.call-to-actions__headline {
				display: block;
				line-height: 90%;
				font-weight: 400;
				
				& + .call-to-actions__headline--sub {
					margin-top: 6px;
				}
			}
			.call-to-actions__headline--sub {
				@include opacity(0.5);
				font-family: $theme-serif;
				text-transform: none;
				letter-spacing: 0.045em;
				font-size: 115%;
			}
			
							
			&.dark {
				background: $theme-dark-grey;
				//border-top: 1px solid $theme-mid-grey;
				//border-bottom: 1px solid $theme-mid-grey;
			}
			&.light{
				background: $theme-beige;
				//border-top: 1px solid $theme-light-grey;
				//border-bottom: 1px solid $theme-light-grey;
			}
			
		}
		
		.call-to-actions {
			
			a {
				@include transitions( all, $transition-speed, $transition-delay );
			}
			
		}

		&.offset-from-top {}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		height: $header-height-lg;
		
		.header__brand {
			width: 176px;
		    height: 18px;
		    left: 50%;
		    margin-left: -88px;
		    top: 22px;
		}	
		
		.push-content-trigger--cart-summary,
		.push-content-trigger--book-now .copy,
		.navigation li,
		.header-cta {
			font-size: 12px;
		}
				
		.navigation {
			
			.navigation-item--main {
				padding-bottom: 23px;
				padding-left: 8px;
			    padding-right: 8px;
			    margin-left: 19px;
			    margin-right: 19px;
			     &:first-child {
				    margin-left: 19px;
				    padding-left: 8px;
			    }
			    &:last-child {
				    margin-right: 19px;
				    padding-right: 8px;
			    }
			}
						
			li {
				font-size: 12px;
			}
		}
		
		.navigation--sub {
			top: 34px; // height of .navigation--main
			padding: 42px 0px;
			
			.call-to-actions__image {
				width: 260px;
				height: 145px;				
			}
			
			.navigation-item--heading {
				font-size: 17px;
			}
			
		}
				
		&.offset-from-top {}
		
	} // min width lg

} // header