//////////////////////////////////////////////////////////
////  Loading Screen | Variables
//////////////////////////////////////////////////////////

$loading-screen--logo-width: 60px;
$loading-screen--logo-width--xs: 65px;
$loading-screen--logo-width--sm: 70px;
$loading-screen--logo-width--md: 80px;
$loading-screen--logo-width--lg: 90px;

//////////////////////////////////////////////////////////
////  Loading Screen | Styles
//////////////////////////////////////////////////////////


.loading-screen {
	background: $theme-dark-grey;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	
	.loader {
		@include transitions-all( 250 );
		@include vertical-center;
		display: block;
		width: $loading-screen--logo-width;
		height: auto;
		margin: 0px auto;	
	}
	
	.loader--spinner {
		height: $loading-screen--logo-width;
	}
	
	.spinner {
		@include animation( 'spin 1.3s linear infinite' );
		position: absolute;
		border: 3px solid rgba(255,255,255,0.1);
	  	border-radius: 50%;
	  	border-top: 3px solid #fff;
	  	width: 100%;
	  	height: 100%;
	}
	
	.brand {
		@include animation( 'pulse-fade 4.0s linear infinite' );
		display: block;
		width: 100%;
		height: auto;
		margin: 0px auto;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	
	&.loading-screen--page-load {
		@include transitions-all( 500, 75 );
		z-index: 9999;
		&.loaded {
			@include opacity(0);
			z-index: -9999;
		}	
	}
	
	&.loading-screen--busy {
		@include transitions-all( 500 );
		@include opacity(0);
		background: rgba(40, 37, 36, 0.66);
		z-index: -9999;
		&.active {
			z-index: 99999;
			@include opacity(1);
		}
	}
	
	@include keyframes( pulse-fade ) {
		0% { opacity: 1; }
	    25% { opacity: 0.125; }
	    50% { opacity: 1;}
	    75% { opacity: 0.125; }
	    100% { opacity: 1; }
	}
	
	@include keyframes( spin ) {
		0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
	
	@include breakpoint(xs) {
		
		.loader {
			width: $loading-screen--logo-width--xs;
		}
		
		.loader--spinner {
			height: $loading-screen--logo-width--xs;
		}
		
	}  // min width xs
	
	@include breakpoint(sm) {
		
		.loader {
			width: $loading-screen--logo-width--sm;
		}
		
		.loader--spinner {
			height: $loading-screen--logo-width--sm;
		}
		
	}  // min width sm
	
	@include breakpoint(md) {
		
		.loader {
			width: $loading-screen--logo-width--md;
		}
		
		.loader--spinner {
			height: $loading-screen--logo-width--md;
		}
	
	}  // min width md
	
	@include breakpoint(lg) {
		
		.loader {
			width: $loading-screen--logo-width--lg;
		}
		
		.loader--spinner {
			height: $loading-screen--logo-width--lg;
		}
		
	}  // min width lg
	
} // #loading-screen