//////////////////////////////////////////////////////////
////  Base Styles | Reset, Colours & Typography
//////////////////////////////////////////////////////////

@import './base/colours.scss';
@import './utilities/mixins.scss';

//////////////////////////////////////////////////////////
////  Services | Shame, Shame, Shame...
//////////////////////////////////////////////////////////

#services {
	
	text-align: center;
	
	.message {
		margin-bottom: 35px;
	}
	
	.services {
		margin-bottom: 35px;
		&:last-child {
			margin: 0px;
		}
	}
	
	.services-list,
	.services-list-item,
	.locations-list,
	.locations-list-item {
		display: block;
		margin: 0px;
		padding: 0px;
	}

	.services-list-item,
	.locations-list-item {
		@include background-cover;
		@include transitions-all(300,45);
		height: 220px;
		a {
			@include transitions-all(300,45);
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	.services-list-item {
		a {
			background: rgba(0, 0, 0, 0.70);
			&:hover {
				background: rgba(0, 0, 0, 0.45);	
			}
		}
	}
	
	.locations-list-item {
		background: $theme-beige;
		color: $theme-dark-grey;
		&:nth-child(even) {
			background: #fff;
		}
		&:hover {
			background: $theme-mid-grey;
			color: $theme-beige;
			a {
				color: #fff;
			}
		}
	}
	
	.services-list-cta,
	.locations-list-cta {
		@include vertical-center;
	}
	
	.services-list-cta {
		color: $theme-beige;
	}
	
	.headline--service-title {
		color: inherit;
		line-height: 110%;
		margin: 0px 0px 18px 0px;
	}
	
	.button--call-to-action {
		color: $theme-beige;
		&:hover {
			color: $theme-beige;
		}
	}
	
	.headline, .city {
		color: inherit;
	}
	
	@include breakpoint(xs) {
		
		.services {
			margin-bottom: 45px;
		}
		
		.message {
			margin-bottom: 55px;
		}
		
		.services-list-item,
		.locations-list-item {
			height: 250px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.services {
			margin-bottom: 55px;
		}
		
		.message {
			margin-bottom: 65px;
		}
		
		.services-list-item,
		.locations-list-item {
			height: 300px;
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		.services {
			margin-bottom: 65px;
		}
		
		.message {
			margin-bottom: 75px;
		}
		
		.services-list,
		.locations-list {
			display: table;
			width: 100%;
		}
		
		.services-list-item,
		.locations-list-item {
			height: 320px;
			display: table-cell;
		}
		
		.headline--location-title {
			font-size: 14px;	
		}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		.services {
			margin-bottom: 75px;
		}
		
		.message {
			margin-bottom: 85px;
		}
		
		.services-list-item,
		.locations-list-item {
			height: 400px;
		}
		
		.headline--location-title {
			font-size: 16px;	
		}	
		
	} // min width lg
	
} // #services 

//////////////////////////////////////////////////////////
////  Experience | Shame, Shame, Shame...
//////////////////////////////////////////////////////////

#experience {
	
	.origins-images {
		position: relative;
		img {
			display: block;
			width: 100%;
		}
	}
	
	.section--origins {
		margin-bottom: 40px;
	}
	
	.section--founders {
		background: $theme-beige;
		padding: 40px 0px 60px;
	}
	
	.origins, .history, .process {
		@include clearfix;
	}
	
	.process, .origins-images {
		margin-top: 35px;
	}
	
	@include breakpoint(xs) {
		
		.section--origins {
			margin-bottom: 45px;
		}
		
		.section--founders {
			padding: 45px 0px 85px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {

		.section--origins {
			margin-bottom: 55px;
		}
		
		.section--founders {
			padding: 55px 0px 95px;
		}

	} // min width sm
	
	@include breakpoint(md) {
		
		.process, .origins-images {
			margin-top: 0px;
		}
		
		.section--origins {
			margin-bottom: 125px;
		}
		
		.section--founders {
			padding: 100px 0px 200px;
		}
		
		.origins-images {
			position: relative;
		}
		
		.image--small,
		.image--wide {
			position: absolute;
		}
		
		.origins {
			.origins-images {
				margin-top: 40px;
			}
			.image--small {
				width: 200px;
				right: -120px;
			    top: -160px;
			}
		}
		
		.history {
			margin-bottom: 65px;
			.headline {
				margin-top: 110px;
			}
			.image--wide {
				top: -150px;
				left: -280px;
				width: 370px;
			}
		}
		
		.process {
			.image--wide {
				bottom: -125px;
			    left: -70px;
			    width: 320px;		
			}
		}
				
	} // min width md
	
	@include breakpoint(lg) {
		
	} // min width lg
	
} // #experience

//////////////////////////////////////////////////////////
////  Conctact | Shame, Shame, Shame...
//////////////////////////////////////////////////////////

$contact-cover-height: 180px; 
$contact-cover-height-xs: 220px; 
$contact-cover-height-sm: 240px; 
$contact-cover-height-md: 400px;
$contact-cover-height-lg: 400px;

#contact-us {
	
	text-align: center;
	
	#cover {
		height: $contact-cover-height;
	}
	
	.message {
		margin-bottom: 30px;
	}
	
	form {
		text-align: left;
	}
	
	.form--gravity-forms {
		.gform_title {
			display: none;
		}
		li.gfield {
			margin-bottom: 15px;
		}
	}
	
	@include breakpoint(xs) {

		#cover {
			height: $contact-cover-height-xs;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		#cover {
			height: $contact-cover-height-sm;
		}

	} // min width sm
	
	@include breakpoint(md) {
		
		#cover {
			height: $contact-cover-height-md;
		}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		#cover {
			height: $contact-cover-height-lg;
		}
		
	} // min width lg
		
} // #contact-us

//////////////////////////////////////////////////////////
////  Academy | Shame, Shame, Shame...
//////////////////////////////////////////////////////////

#academy {
	
	img {
		display: block;
		width: 100%;
	}
	
	.section.apprenticeship {
		padding-bottom: 40px;
	}
	
	.section.workshops {
		background: $theme-beige;
		padding: 35px 0px 65px 0px;
	}
	
	.apprenticeship-image-container {
		position: relative;
	}
	
	.apprenticeship-image.small {
		position: static;
		bottom: 0px;
		right: 0px;
		width: 100%;
	}
	
	#workshop-list, #workshop-list > li {
		width: 100%;
		display: block;
		font-size: 0px;
	}
	
	#workshop-list .content.workshop {
		padding: 0px 0px 0px 0px;
	}
	
	.details {
		margin: 0px 0px 25px 0px;
	}
	
	.apprenticeship-sidebar {
		margin-bottom: 40px;
	}
	
	#workshop-list .details {
		margin-bottom: 25px;
	}
	
	#workshop-list > li {
		margin-bottom: 45px;
	}
	
	.workshop-image {
		margin-bottom: 34px;
	}
	
	#workshop-list .book-now {
		padding: 0px;
	}
	
	#workshop-list .book-now a {
		border: 2px solid #be1e2d;
		color: #404041;
		font-size: 14px;
		padding: 10px 15px;
		display: block;
	}
	
	#workshop-list .book-now a:hover {
		color: #be1e2d;
	}
	
	.apprenticeship-sidebar {
		text-align: center;
	}
	
	.apprenticeship-sidebar p, .please-peruse {
		text-transform: uppercase;
	}

	@include breakpoint(xs) {
		
		.section.apprenticeship {
			padding-bottom: 50px;
		}
		
		.section.workshops {
			padding: 45px 0px 75px 0px;
		}
		
		#workshop-list > li {
			margin-bottom: 65px;
		}
		
		.workshop-image {
			margin-bottom: 40px;
		}
		
	} // min width xs
	
	@include breakpoint(sm) {
		
		.section.apprenticeship {
			padding-bottom: 55px;
		}
		
		.section.workshops {
			padding: 50px 0px 80px 0px;
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		.apprenticeship-sidebar {
			margin: 40px 0px 0px 0px;
		}
		
		.section.apprenticeship {
			padding-bottom: 40px;
		}
		
		.section.workshops {
			padding: 45px 0px 60px 0px;
		}
		
		#workshop-list {
			padding-top: 30px;
		}
		
		.apprenticeship-image.small {
			position: absolute;
			width: 50%;
			bottom: -100px;
			right: -88px;
		}
		
	} // min width md
	
	@include breakpoint(lg) {
		
		.apprenticeship-sidebar {
			margin: 44px 0px 0px 0px;
		}
		
		.section.apprenticeship {
			padding-bottom: 45px;
		}
		
		.section.workshops {
			padding: 50px 0px 65px 0px;
		}
		
		#workshop-list {
			padding-top: 35px;
		}
		
	} // min width lg
		
} // #academey