//////////////////////////////////////////////////////////
////  Popup Newsletter | Variables
//////////////////////////////////////////////////////////

$popup-newsletter-feature-height: 200px;
$popup-newsletter-feature-height-xs: 200px;
$popup-newsletter-feature-height-sm: 200px;
$popup-newsletter-feature-height-md: 200px;
$popup-newsletter-feature-height-lg: 200px;

//////////////////////////////////////////////////////////
////  Popup Newsletter | Styles
//////////////////////////////////////////////////////////

#popup-newsletter {
	
	@include breakpoint(xs) {} // min width xs
	@include breakpoint(sm) {} // min width sm
	@include breakpoint(md) {} // min width md
	@include breakpoint(lg) {} // min width lg

} // #popup-newsletter