//////////////////////////////////////////////////////////
////  Product | Variables
//////////////////////////////////////////////////////////

$offset-header-top: 64px; 
$offset-header-top-xs: 68px;
$offset-header-top-sm: 75px;
$offset-header-top-md: 85px;
$offset-header-top-lg: 100px;

$gallery-product-height: 300px;
$gallery-product-height--xs: 390px;
$gallery-product-height--sm: 480px;
$gallery-product-height--md: 300px;
$gallery-product-height--lg: 300px;


//////////////////////////////////////////////////////////
////  Product | Styles
//////////////////////////////////////////////////////////

#product {
  
  	padding-top: $offset-header-top;
  	background: $theme-beige;
  
  	input[name='variantID'] {
  		display: block;
      	display: none;
    }
    
  	.product-details--mobile-only {
  		display: block;
      	text-align: center;
      	margin: 0px 0px 30px 0px;
      
      	.product-button--add-to-cart {
      		margin: 0px auto;
        }
    }
  
  	.product-info--position {
  		@include transitions(all, 300, 0);
    }
  
  	.product-details--desktop-only {
  		display: none;
    }
  
  	.product-info__type,
  	.product-info__pric {
  		font-family: $theme-serif;
    }
  
  	.product-info__type,
  	.product-info__title,
    .product-info__price {
      	margin: 0px;
      	padding: 0px;
      	text-transform: uppercase;
      	display: block;
    }

  	.product-info__title,
  	.product-info__price {
  		font-size: 16px;
      	line-height: 100%;
    }
  
  	.product-info__type {
      	@include opacity(0.15);
  		font-size: 14px;
      	margin: 0px 0px 10px 0px;
    }
  
  	.product-info__title {
  		font-family: $theme-sans-serif;
      	letter-spacing: 0.18em;
      	font-weight: bold;
  	}
  	
  	.product-info__price {
      	letter-spacing: 0.075em;
      	margin: 10px 0px 0px 0px;
    }
  
  	.product-images--feature {
  		margin: 0px 0px 35px 0px;
    }
  
  	.carousel-container,
  	.owl-carousel,
  	.carousel-item,
  	.carousel-item img {
      	@include transitions-all(280);
    }
  
  	.carousel-container {
    	position: relative;
      	&:hover {
          	.carousel-nav {
          		@include opacity(0.4);
            }
        }
      	.carousel-nav {
      		&:hover {
              @include opacity(1);
            }
        }
      	img {
      		width: 100%;
          	max-width: none;
        }
    }

  	.owl-item {
  		@include transitions-all(280);	
      	@include opacity(0);
      	&.active {
      		@include opacity(1);
        }
    }
  
  	.owl-dots,
  	.carousel-nav {
    	position: absolute;
      	@include transitions-all(300,45);
    }
  	
  
  	.carousel-nav {
      	@include opacity(0.2);
      	top: 50%;
      	cursor:pointer;
      	height: 23px;
      	width: 12px;
      	margin-top: -11.5px;
      	z-index: 5;
      	img {
        	width: auto;
          	height: auto;
          	display: block;
        }
    }
  
  	.carousel-nav--prev {
      	@include rotate(180);
  		left: 10px;
    }
  
  	.carousel-nav--next {
    	right: 10px;
    }
  
  	.owl-dots {
    	width: 100%;
      	text-align: center;
      	height: 7px;
      	margin-top: 10px;
    }
  
  	.owl-dot {
  		@include transitions-all(300,45);
      	@include border-radius(7);
      	@include opacity(0.15);
      	display: inline-block;
      	height: 7px;
      	width: 7px;
      	background: $theme-mid-grey;
      	margin-right: 15px;
      	&.active {
      		@include opacity(0.33);
        }
      	&:hover {
      		@include opacity(1);
        }
      	&:last-child {
      		margin: 0px;
        }
    }
  
  	.carousel--lifestyle,
  	.carousel-item--lifestyle {
  		height: 340px;
    }
  
  	.carousel-item--lifestyle {
  		@include background-cover;
    }
  
  	.carousel-container--lifestyle {
      	.owl-dots {
      		margin-top: -35px;
        }
      	.owl-dot {
      		background: $theme-beige;
          	&.active,
         	&:hover {
         		background: $theme-mid-grey;
            }
        }
    }
  	
  	.variants-list {
  		display: block;
      	margin: 22px 0px;
      	padding: 0px;
    }
  
  	.variants-list-item {
      	display: inline-block;
      	vertical-align: middle;
      	width: auto;
      	margin: 0px 14px 0px 0px;
      	line-height: 90%;
      	color: $theme-dark-grey;
      	&:last-child {
        	margin: 0px;
        }
    }
  
  	.variants-list-item--heading {
      	font-family: $theme-sans-serif;
  		font-weight: 500;
      	letter-spacing: 0.18em;
      	text-transform: uppercase;
      	font-size: 12px;
    }

  	.variants-list-item--option {
  		@include transitions-all(300,45);
      	@include opacity(0.45);
      	cursor: pointer;
      	&:hover,
      	&.selected {
        	@include opacity(1);
        }
      	&.not-available {
      		text-decoration: line-through;
          	&:hover {
          		@include opacity(0.45);
              	cursor: default;
            }
        }
    }
  
  	.tabs-navigation,
  	.tabs-content {
    	display: block;
      	border-bottom: 1px solid rgba(40, 37, 36, 0.15);
      	margin: 0px;
    }
  
    .tabs-navigation {
      	font-family: $theme-sans-serif;
 		padding: 10px 0px;
      	margin: 10px 0px 0px 0px;
  	}
  
  	.tabs-navigation-item {
      	@include opacity(0.33);
      	color: $theme-dark-grey;
  		display: inline-block;
      	font-weight: 500;
      	letter-spacing: 0.18em;
      	width: auto;
      	margin: 0px 10px 0px 0px;
      	cursor: pointer;
      	font-size: 12px;
      	text-transform: uppercase;
      	&:hover, &.active {
      		@include opacity(1);
        }
      	&:last-child {
      		margin: 0px;
        }
    }
  
  	.tabs-navigation-item,
  	.tabs-content-item {
  		@include transitions( all, 300, 45 );
    }
  
  	.tabs-content,
  	.tabs-content-item {
  		display: block;
      	margin: 0px;
      	padding: 0px;
    }
  	
  	.tabs-content-item {
  		display: none;
      	&:first-child {
        	display: block;
        }
    }
  
  	.tab-content-padding {
  		padding: 12px 0px;
      
      	p, li {
      		font-size: 14px;
          	line-height: 140%;
        }
    }
  
  	.product-button {
      	@include transitions( all, 300, 45 );
      	font-family: $theme-sans-serif;
      	font-weight: 500;
      	letter-spacing: 0.18em;
  		text-transform: uppercase;
      	display: block;
      	text-align: center;
      	padding: 14px 0px;
      	width: 160px;
      	font-size: 12px;
      	line-height: 90%;
    }
  
  	.product-button--add-to-cart,
  	.product-button--out-of-stock {
  		margin: 0px auto;
    }
  
  	.product-button--add-to-cart {
      	color: $theme-beige;
      	background: $theme-dark-grey; 
      	cursor: pointer;
     	&:hover {
      		background: black;  	
        }
    }
  
    .product-button--out-of-stock {
      	color: $theme-dark-grey;
      	border: 1px solid $theme-dark-grey;
    }

  	.product-images--lifesytle {
      	margin: 30px 0px 0px 0px;
  	}
  
  	.error-message {
      	@include transitions( all, 300, 0 );
  		display: none;
      	font-family: $theme-serif;
      	font-style: italic;
      	padding: 8px 0px;
    	font-size: 11px;
    	letter-spacing: 0.035em;
      	text-align: center;
    }
  
  	.error-message--no-option-selected {
      	color: $theme-mid-grey;
      	margin: 0px auto 18px;
      	max-width: 300px;
        border-bottom: 1px solid $theme-red;
        border-top: 1px solid $theme-red;
    }
  
  	@include breakpoint(xs) {
      
      	padding-top: $offset-header-top-xs;
    
        .product-info__title,
        .product-info__price {
            font-size: 17px;
        }

        .product-info__type {
            font-size: 15px;
            margin: 0px 0px 12px 0px;
        }

        .product-info__price {
            margin: 12px 0px 0px 0px;
        }
      
        .carousel-nav {
            height: 32px;
            width: 17px;
            margin-top: -13.5px;
        }

        .carousel-nav--prev {
            left: 15px;
        }

        .carousel-nav--next {
            right: 15px;
        }
      
      	.carousel--lifestyle,
        .carousel-item--lifestyle {
            height: 440px;
        }

        .variants-list {
            margin: 25px 0px;
        }

        .variants-list-item {
            margin: 0px 15px 0px 0px;
        }

        .tabs-navigation {
            margin: 12px 0px 0px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 12px 0px 0px;
            font-size: 13px;
        }

        .tab-content-padding {
            padding: 14px 0px;

            p, li {
                font-size: 15px;
            }
        }

        .product-images--lifesytle {
            margin: 40px 0px 0px 0px;
        }
    
    }  // min width xs

	@include breakpoint(sm) {
    
      	padding-top: $offset-header-top-sm;
      
    	.product-info__title,
        .product-info__price {
            font-size: 19px;
        }

        .product-info__type {
            font-size: 16px;
            margin: 0px 0px 14px 0px;
        }

        .product-info__price {
            margin: 14px 0px 0px 0px;
        }

        .product-images--feature {
            margin: 0px 0px 40px 0px;          
        }
      
      	.carousel-nav {
            height: 36px;
            width: 20px;
            margin-top: -18px;
        }

        .carousel-nav--prev {
            left: 20px;
        }

        .carousel-nav--next {
            right: 20px;
        }
      
      	.carousel--lifestyle,
        .carousel-item--lifestyle {
            height: 480px;
        }

        .variants-list {
            margin: 30px 0px;
        }

        .variants-list-item {
            margin: 0px 16px 0px 0px;
        }

        .tabs-navigation {
            margin: 14px 0px 0px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 15px 0px 0px;
            font-size: 14px;
        }

        .tab-content-padding {
            padding: 16px 0px;

            p, li {
                font-size: 16px;
            }
        }

        .product-images--lifesytle {
            margin: 50px 0px 0px 0px;
        }
      	
    }  // min width sm

    @include breakpoint(md) {
      
      	padding-top: $offset-header-top-md;
      
      	.product-details--mobile-only {
      		display: none;
        }

        .product-details--desktop-only {
          	display: block;
        }
      
      	.product-info--position {
          	@include vertical-center;
      		width: 360px;
          	margin-right: auto;
          	margin-left: auto;
          	margin-top:-10px;
        }

      	.product-info__title,
        .product-info__price {
            font-size: 14px;
        }

        .product-info__type {
            font-size: 12px;
            margin: 0px 0px 10px 0px;
        }

        .product-info__price {
            margin: 10px 0px 0px 0px;
        }

        .product-images--feature {
            margin: 0px -15px 0px 0px;
        }

        .variants-list {
            margin: 14px 0px;
        }

        .variants-list-item {
            margin: 0px 12px 0px 0px;
        }

      	.variants-list-item--heading {
            font-size: 10px;
        }

        .tabs-navigation {
            margin: 6px 0px 0px 0px;
          	padding: 8px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 10px 0px 0px;
            font-size: 10px;
        }

        .tab-content-padding {
            padding: 8px 0px;

            p, li {
                font-size: 13px;
            }
        }

        .product-images--lifesytle {
            margin: 0px 0px 0px 0px;
        }
      
      	.carousel-nav {
            height: 30px;
            width: 16px;
            margin-top: -8px;
        }
      
      	.carousel-nav--prev {
            left: 22px;
        }

        .carousel-nav--next {
            right: 22px;
        }
      
        .product-button--add-to-cart,
        .product-button--out-of-stock {
            margin: 0px;
        }
          
      	.carousel--lifestyle,
        .carousel-item--lifestyle {
            height: 560px;
        }
      
      	.owl-dots {
			text-align :right;
			right: 25px;
          	margin-top: -35px;
        }
      
      	.owl-dot {
      		background: $theme-beige;
          	&.active,
         	&:hover {
         		background: $theme-mid-grey;
            }
        }
      
      	.error-message--no-option-selected {
          	padding-left: 12px;
          	max-width: none;
            margin: 0px 0px 16px;
        }
      
    }  // min width md

    @include breakpoint(lg) {
      
      	padding-top: $offset-header-top-lg;
      
      	.product-info--position {
      		width: 420px;
        }
      
      	.product-info__title,
        .product-info__price {
            font-size: 16px;
        }

        .product-info__type {
            font-size: 14px;
            margin: 0px 0px 12px 0px;
        }

        .product-info__price {
            margin: 12px 0px 0px 0px;
        }
      
      	.carousel--lifestyle,
        .carousel-item--lifestyle {
            height: 680px;
        }

        .variants-list {
            margin: 14px 0px;
        }

        .variants-list-item {
            margin: 0px 14px 0px 0px;
        }
      
      	.variants-list-item--heading {
            font-size: 12px;
        }

        .tabs-navigation {
            margin: 8px 0px 0px 0px;
          	padding: 8px 0px;
        }

        .tabs-navigation-item {
            margin: 0px 12px 0px 0px;
            font-size: 12px;
        }

        .tab-content-padding {
            padding: 10px 0px;

            p, li {
                font-size: 15px;
            }
        }
      
      	.carousel-nav {
            height: 34px;
            width: 19px;
            margin-top: -9.5px;
        }
      
      	.carousel-nav--prev {
        	left: 25px;
        }
      
      	.carousel-nav--next {
        	right: 25px;
        }
  
    }  // min width lg

} // #product

#product.updated {
		
	.product-info__main {}
	
	.product__info--mobile-only {
		text-align: center;
		width: 90%;
		width: calc( 100% - ( #{$theme-gutter} * 2 ) );
		margin: 0px auto;
		padding: ( $theme-gutter * 2 ) 0px;
		
	}
	
	.product__gallery--main {
		height: $gallery-product-height;
		.image, .background-video {
			height: $gallery-product-height;
		}
		.lazyload-container--image {
			background: transparent;
		}
		img {
			height: 100%;
			width: auto;
			display: block;
			margin: 0px auto;
		}
	}
	
	.background-colour,
	.background-image,
	.background-video {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.background-video {
		
		.background-video__fallback-image,
		.background-video__video,
		.background-video__controls {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		
		.background-video__video {
			overflow: hidden;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;	
			}
		}
			
		.background-video__controls {
			
		}
		
	}
	
	.product__info--desktop {
		
		.content {
			width: 90%;
			width: calc( 100% - ( #{$theme-gutter} * 2 ) );
			max-width: 460px;
			margin: 0px auto;
			padding: ( $theme-gutter * 2 ) 0px;
		}
		
	}
	
	.product__gallery--lifestyle {
		
		
		
	}
	
	@include breakpoint(xs) {
		
		.product__gallery--main {
			height: $gallery-product-height--xs;
			.image, .background-video {
				height: $gallery-product-height--xs;
			}
		}
		
		.product__info--desktop {
			.content {
				max-width: 500px;
			}
		}
		
			
	} // min width xs

	@include breakpoint(sm) {
		
		.product__gallery--main {
			height: $gallery-product-height--sm;
			.image, .background-video {
				height: $gallery-product-height--sm;
			}
		}
		
		.product__info--desktop {
			.content {
				max-width: 660px;
			}
		}
		
	} // min width sm
	
	@include breakpoint(md) {
		
		.product__main {
			@include clearfix;
			position: relative;
		}
		
		.product__info--mobile-only {
			display: none;	
		}
		
		.product__gallery--main,
		.product__info--desktop {
			width: 50%;
		}
		
		.product__gallery--main {
			height: 500px;
			float: right;
			.image, .background-video {
				height: 500px;
			}
			.image {
				img {
					@include vertical-center;
					height: auto;
					width: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
		
		.product__info--desktop {
			height: 500px;
			float: left;
		
			.content {
				@include vertical-center;
				width: 90%;
				max-width: 400px;
			}	
			
		}
		
	} // min width md
	
	@include breakpoint(lg) {} // min width lg
	
} // #product.updated