//////////////////////////////////////////////////////////
////  Site Container | Variables
//////////////////////////////////////////////////////////

$column-content--text-padding: 10px;
$column-content--text-padding-offset: 28px;

$column-content--text-padding-xs: 12px;
$column-content--text-padding-offset-xs: 32px;

$column-content--text-padding-sm: 14px;
$column-content--text-padding-offset-sm: 38px;

$column-content--text-padding-md: 16px;
$column-content--text-padding-offset-md: 40px;

$column-content--text-padding-lg: 18px;
$column-content--text-padding-offset-lg: 50px;

//////////////////////////////////////////////////////////
////  Site Container | Styles
//////////////////////////////////////////////////////////

#site-container {
			
	.sections, 
	.section-item,
	.column {
		@include transitions-all(300);
		width: 100%;
		display: block;
		margin: 0px;
		padding: 0px;
	}
	
	.sections, 
	.section-item {
		@include clearfix;
	}
	
	.column {
		position: relative;
		height: 320px;
	}
	
	.column--split {
		display: none;
		& + .column--full {
			@include clearfix;
			display: block;
		}
	}
	
	.column-content {
		@include transitions-all(280,35);
		width: 100%;
	}
	
	.column-content--background,
	.column-content--image {
		width: 100%;
	}
	
	.column-content--background {
		position: absolute;
		height: 100%;
	}
	
	.column-content--background-image {
		@include background-cover;
	}
	
	.column-content--background-beige,
	.content--background-beige {
		background: $theme-beige;
	}
	
	.column-content--background-light-grey,
	.content--background-light-grey {
		background: $theme-light-grey;
	}
	
	.column-content--background-mid-grey,
	.content--background-mid-grey {
		background: $theme-mid-grey;
	}
	
	.column-content--background-dark-grey,
	.content--background-dark-grey {
		background: $theme-dark-grey;
	}
	
	.column-content--inline-image {
		@include vertical-center;
		text-align: center;
		.image {
			@include transitions-all(280,35);
			display: inline-block;
			width: 90%;
			max-width: 300px;
			max-height: 90%;
			height: auto;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	
	.column-content--text {
		position: absolute;
		
		.content {
			@include transitions-all(280,35);
			padding: $column-content--text-padding;
			color: $theme-dark-grey;
			width: 260px;
			display: inline-block;
			text-align: left;
		}
		
		* {
			color: inherit;
		}
		
		a, p, span {
			display: block;
			margin: 0px;
		}
		
		a {
			@include transitions-all(280,35);
			color: $theme-dark-grey;
			&:hover {
				color: #000;
			}
		}
		
		.message {
			font-family: $theme-serif;
			font-size: 12px;
			line-height: 145%;
			
			& + .cta {
				margin-top: 10px;
			}
			
		}
		
		.cta {
			font-family: $theme-sans-serif;	
			text-transform: uppercase;
			font-weight: 400;
			font-size: 10px;
			line-height: 100%;
			letter-spacing: 0.2em;
		}
		
		.icon {
			width: 24px;
			height: 24px;
			margin-top: 6px;
		}
		
		img {
			display: block;
		}
		
		&.column-position-horizontal--left {
			.content {
				padding-left: $column-content--text-padding-offset;
			}
		}
		
		&.column-position-horizontal--right {
			.content {
				padding-right: $column-content--text-padding-offset;
			}
		}
		
	}
	
	.column-content--text-extended {
		
	}
	
	.column-content--drop-shadow,
	.content--drop-shadow {
		@include box-shadow( 4px, 4px, 10px, 0px, rgba(0, 0, 0, 0.03) );
	}
	
	.column-position-vertical--top {
		top: $column-content--text-padding-offset;	
	}
	
	.column-position-vertical--middle {
		@include vertical-center;	
	}
	
	.column-position-vertical--bottom {
		bottom: $column-content--text-padding-offset;
	}
	
	.column-position-horizontal--left {
		left: 0px;	
	}
		
	.column-position-horizontal--right {
		right: 0px;
		text-align: right;
	}
	
	@include breakpoint( xs ) {
			
		.column {
			height: 450px;
		}
		
		.column-content--inline-image {
			.image {
				max-width: 400px;
			}
		}
		
		.column-content--text {
			.content {
				padding: $column-content--text-padding-xs;
				width: 280px;
			}
			&.column-position-horizontal--left {
				.content {
					padding-left: $column-content--text-padding-offset-xs;
				}
			}
			
			&.column-position-horizontal--right {
				.content {
					padding-right: $column-content--text-padding-offset-xs;
				}
			}
		}

		.column-content--text-extended {
			max-width: 350px;
		}
		
		.column-position-vertical--top {
			top: $column-content--text-padding-offset-xs;	
		}
		
		.column-position-vertical--bottom {
			bottom: $column-content--text-padding-offset-xs;
		}
		
	} // min width xs
	
	@include breakpoint( sm ) {
			
		.column {
			height: 500px;
		}
		
		.column-content--inline-image {
			.image {
				max-width: 450px;
			}
		}
		
		.column-content--text {
			.content {
				padding: $column-content--text-padding-sm;
				width: 300px;
			}
			.message {
				font-size: 13px;
			}
			&.column-position-horizontal--left {
				.content {
					padding-left: $column-content--text-padding-offset-sm;
				}
			}
			
			&.column-position-horizontal--right {
				.content {
					padding-right: $column-content--text-padding-offset-sm;
				}
			}
		}
		
		.column-content--text-extended {
			max-width: 400px;
		}
		
		.column-position-vertical--top {
			top: $column-content--text-padding-offset-sm;	
		}
		
		.column-position-vertical--bottom {
			bottom: $column-content--text-padding-offset-sm;
		}
		
	} // min width sm
	
	@include breakpoint( md ) {
			
		.column {
			height: 560px;
		}
		
		.column--split {
			width: 50%;
			display: block;
			& + .column--full {
				display: none;
			}
		}
		
		.column--left {
			float: left;
		}
		
		.column--right {
			float: right;
		}
		
		.column-content--inline-image {
			.image {
				max-width: 320px;
			}
			.image--split-layout {
				max-width: 220px;
			}
		}
		
		.column-content--text {
			.content {
				width: 320px;
				padding: $column-content--text-padding-md;
			}
			.message {
				font-size: 14px;
			}
			.cta {
				font-size: 12px;
			}
			&.column-position-horizontal--left {
				.content {
					padding-left: $column-content--text-padding-offset-md;
				}
			}
			
			&.column-position-horizontal--right {
				.content {
					padding-right: $column-content--text-padding-offset-md;
				}
			}
		}
		
		.column-content--text-extended {
			max-width: 400px;
		}
		
		.column-position-vertical--top {
			top: $column-content--text-padding-offset-md;	
		}
		
		.column-position-vertical--bottom {
			bottom: $column-content--text-padding-offset-md;
		}

	} // min width md
	
	@include breakpoint( lg ) {
			
		.column {
			height: 650px;
		}
		
		.column-content--inline-image {
			.image {
				max-width: 420px;
			}
			.image--split-layout {
				max-width: 320px;
			}
		}
		
		.column-content--text {
			.content {
				padding: $column-content--text-padding-lg;
				width: 340px;
			}
			&.column-position-horizontal--left {
				.content {
					padding-left: $column-content--text-padding-offset-lg;
				}
			}
			&.column-position-horizontal--right {
				.content {
					padding-right: $column-content--text-padding-offset-lg;
				}
			}
		}
		
		.column-content--text-extended {
			max-width: 500px;
		}
		
		.column-position-vertical--top {
			top: $column-content--text-padding-offset-lg;	
		}
		
		.column-position-vertical--bottom {
			bottom: $column-content--text-padding-offset-lg;
		}

	} // min width lg
	
} // #site-container