//////////////////////////////////////////////////////////
////  Carousels | Vars
//////////////////////////////////////////////////////////

$owl-dot-size: 8px;

$owl-nav-height: 24px;
$owl-nav-height--xs: 28px;
$owl-nav-height--sm: 30px;
$owl-nav-height--md: 32px;
$owl-nav-height--lg: 34px;

//////////////////////////////////////////////////////////
////  Carousels | Styles
//////////////////////////////////////////////////////////

.carousel-container {
	
	position: relative;
	width: 100%;
	height: 100%;
	
	.owl-item {
		display: inline-block !important;
		.content {
			@include opacity(0);
		}
		&.active {
			.content {
				@include opacity(1);
			}
		}
	}
	
	.owl-dots {
		position: absolute;
		width: 100%;
		display: block;	
		height: auto;
		font-size: 0px;
	}
	
	.owl-dot {
		@include transitions-all(250);
		@include border-radius(12px);
		@include opacity(.33);
		display: inline-block;
		vertical-align: middle;
		&:last-child {
			margin: 0px;
		}
		&.active {
			@include opacity(.95);
		}
		&:hover {
			@include opacity(.66);
		}
	}
	
	.carousel-controls {
		@include transitions-all(250);
		@include opacity(0.2);
		display: block;
		position: absolute;	
		margin: 0px;
		top: 50%;
		height: $owl-nav-height;
		margin-top: -$owl-nav-height * 0.5;
		z-index: 9;
		cursor: pointer;
		img {
			display: block;
			width: auto;
			height: 100%;
		}
	}
	
	.carousel-controls--prev {
		@include rotate(180);
		left: 22px;
	}
	
	.carousel-controls--next {
		right: 22px;
	}
	
	&.carousel-container--front-page {
		
		.owl-dots {
		    text-align: center;	
		    margin-top: -22px;	
		}
		
		.owl-dot {
			width: $owl-dot-size;
			height: $owl-dot-size;
			margin-right: 15px;
			background: #282524;
			&:last-child {
				margin: 0px;
			}
		}
		
	}
	
	&.carousel-container--split {
		
		.owl-carousel {
			display: block;
		}
		
		.owl-carousel,
		.owl-stage-outer,
		.owl-stage,
		.owl-item {
			height: 100%;
		}
		
		.owl-carousel {
			width: 100%;
		}
		
	}
	
	&.carousel-container--location {
	
		.owl-dots {
		    text-align: center;		
		}
	
		.owl-dot {
			width: $owl-dot-size;
			height: $owl-dot-size;
			margin-right: 15px;
			background: #282524;
			&:last-child {
				margin: 0px;
			}
		}
			
		&.carousel-container--location-gallery {
			.owl-dots {
			    margin-top: 15px;
			}
		}
		
		&.carousel-container--lifestyle-gallery {
			.owl-dots {
			    margin-top: -22px;
			}
		}
		
	}
		
	&:hover {
		.carousel-controls {
			@include opacity(0.5);
			&:hover {
				@include opacity(0.9);
			}
		}
	}
	
	@include breakpoint(xs) {
		
		.carousel-controls {
			height: $owl-nav-height--xs;
			margin-top: -$owl-nav-height--xs * 0.5;
		}
		
	} // min width xs
		
	@include breakpoint(sm) {
		
		.carousel-controls {
			height: $owl-nav-height--sm;
			margin-top: -$owl-nav-height--sm * 0.5;
		}
			
	} // min width sm
		
	@include breakpoint(md) {
		
		.carousel-controls {
			height: $owl-nav-height--md;
			margin-top: -$owl-nav-height--md * 0.5;
		}
		
		&.carousel-container--front-page {
			.owl-dots {
			    margin-top: -28px;	
			}	
		}
		
		&.carousel-container--location {
			
			.owl-dots {
			    text-align: right;		
			}
			
			&.carousel-container--location-gallery {
				.owl-dots {
				    margin-top: -32px;
					padding-right: 25px;
				}
			}
			
			&.carousel-container--lifestyle-gallery {
				.owl-dots {
				    margin-top: -32px;
					padding-right: 25px;
				}
			}

		}
				
	} // min width md
		
	@include breakpoint(lg) {
		
		.carousel-controls {
			height: $owl-nav-height--lg;
			margin-top: -$owl-nav-height--lg * 0.5;
		}
				
	} // min width lg
	
} // .carousel-container