//////////////////////////////////////////////////////////
////  Cover | Vars
//////////////////////////////////////////////////////////

$cover-height: 300px;
$cover-height--xs: 340px;
$cover-height--sm: 390px;
$cover-height--md: 460px;
$cover-height--lg: 520px;

//////////////////////////////////////////////////////////
////  Cover | Styles
//////////////////////////////////////////////////////////

.cover {
	
	height: $cover-height;
	position: relative;
	margin: 0px 0px 35px 0px;
	
	.cover__background-image,
	.cover__overlay {
		position: absolute;
		width: 100%;
		height: 100%;		
		top: 0;
		left: 0;
	}
	
	.cover__content {
		@include vertical-center;
	}

	@include breakpoint(xs) {
		
		height: $cover-height--xs;
		margin-bottom: 40px;
	
	} // min width xs
		
	@include breakpoint(sm) {
		
		height: $cover-height--sm;
		margin-bottom: 45px;
			
	} // min width sm
		
	@include breakpoint(md) {
		
		height: $cover-height--md;
		margin-bottom: 35px;
				
	} // min width md
		
	@include breakpoint(lg) {
		
		height: $cover-height--lg;
		margin-bottom: 40px;
				
	} // min width lg
	
} // .cover 