//////////////////////////////////////////////////////////
////  Flexible Content | Vars
//////////////////////////////////////////////////////////

$content-width: 260px;
$content-width--xs: 280px;
$content-width--sm: 300px;
$content-width--md: 320px;
$content-width--lg: 340px;

$content-offset: 28px;
$content-offset--xs: 32px;
$content-offset--sm: 38px;
$content-offset--md: 42px;
$content-offset--lg: 52px;

$inline-image-width: 300px;
$inline-image-width--xs: 400px;
$inline-image-width--sm: 450px;
$inline-image-width--md: 320px;
$inline-image-width--lg: 420px;

//////////////////////////////////////////////////////////
////  Flexible Content | Styles
//////////////////////////////////////////////////////////

.debugging {
    position: fixed;
    width: 50%;
    height: 20%;
    display: block;
    background: #fff;
    z-index: 1;
    color: #000;
    left: 50%;
    top: 50%;
    margin-top: -25%;
    margin-left: -25%;
    padding: 20px;
    z-index: 10;
}

.flexible-content {
	
	.section {
		@include clearfix;
		display: block;
		position: relative;
		width: 100%;
	}
	
	.block {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.block--instagram {
		.background-colour {
			position: absolute;
		}
		.inline-image {
			@include vertical-center;
			background: transparent;
			height: auto;
			text-align: center;
			img {
				@include transitions-all(300);
				display: block;
				margin: 0px auto;
				height: auto;
				width: 90%;
				max-width: $inline-image-width;
				max-height: 90%;
			}
		}
	}
	
	.background-colour,
	.background-image,
	.background-video {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.lazyload-container {
		height: 100%;
		width: 100%;
	}
	
	.inline-image {
		@include vertical-center;
		img {
			@include transitions-all(300);
			display: block;
			margin: 0px auto;
			height: auto;
			width: 90%;
			max-width: $inline-image-width;
			max-height: 90%;
		}
	}
	
	.background-video {
		
		.background-video__fallback-image,
		.background-video__video,
		.background-video__controls {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		
		.background-video__video {
			overflow: hidden;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;	
			}
		}
			
		.background-video__controls {
			
		}
		
	}
		
	.content {
		@include transitions-all( 300, 500 );
		width: $content-width;
		position: absolute;
		display: block;
		padding: 10px;
		a {
			color: inherit;
		}
	}
	
	.content--transparent {
		background: transparent; 
	}
	
	.content--dark {
		background: $theme-dark-grey;
		color: $theme-beige;
	}
	
	.content--light {
		background: $theme-beige; 
		color: $theme-dark-grey;
	}
	
	.content--top {
		top: $content-offset;
	}
	
	.content--right {
		right: 0px;
		padding-right: $content-offset;
	}
	
	.content--bottom {
		bottom: $content-offset;
	}
	
	.content--left {
		left: 0px;
		padding-left: $content-offset
	}	
	
	.content--instagram {
		@include vertical-center;
		margin: 0px auto;
		text-align: left;
	}
	
	.instagram__account,
	.instagram__message,
	.instagram__icon {
		display: block;
	}
	
	.instagram__account {
		font-family: "brandon-grotesque", sans-serif;
	    display: block;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-size: 11px;
	    line-height: 100%;
	    margin-bottom: 6px;
	}
	
	.instagram__message {
		font-family: "Archer", serif;
	    font-size: 15px;
	    font-weight: 300;
	    letter-spacing: 0.675px;
	    line-height: 140%;
	}
	
	.instagram__icon {
		height: 24px;
		width: 24px;
		margin: 6px 0px 0px 0px;
		a, img {
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}
	
	.instagram__post-link--background {
		display: block;
		height: 100%;
	}
	
	.instagram__post-link--inline {
		display: inline-block;
		width: auto;
		height: auto;
	}
	
	.content__message,
	.content__cta {
		display: block;
	}
	
	.content__message {
		font-family: $theme-serif;
		font-size: 12px;
		line-height: 145%;
		margin: 0px;
		font-weight: 300;
		letter-spacing: 0.045em;
	}
		
	.content__cta {
		font-family: $theme-sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 10px;
		line-height: 100%;
		letter-spacing: 0.2em;
	}
		
	.content__message + .content__cta {
		margin-top: 10px;
	}
	

	@include breakpoint(xs) {
		
		.block--instagram {
			.inline-image {
				img {
					max-width: $inline-image-width--xs;
				}
			}
		}
		
		.inline-image {
			img {
				max-width: $inline-image-width--xs;
			}
		}
		
		.content {
			width: $content-width--xs;
			padding: 12px;
		}
		
		.content--right {
			padding-right: $content-offset--xs;
		}
		
		.content--top {
			top: $content-offset--xs;
		}
		
		.content--bottom {
			bottom: $content-offset--xs;
		}
		
		.content--left {
			padding-left: $content-offset--xs;
		}
		
		.content__message {
			font-size: 13px;
		}
		
	} // min width xs
		
	@include breakpoint(sm) {
		
		.block--instagram {
			.inline-image {
				img {
					max-width: $inline-image-width--sm;
				}
			}
		}
		
		.inline-image {
			img {
				max-width: $inline-image-width--sm;
			}
		}
		
		.content {
			width: $content-width--sm;
			padding: 14px;
		}
		
		.content--top {
			top: $content-offset--sm;
		}
		
		.content--right {
			padding-right: $content-offset--sm;
		}
		
		.content--bottom {
			bottom: $content-offset--sm;
		}
		
		.content--left {
			padding-left: $content-offset--sm;
		}
		
		.content__message {
			font-size: 14px;
		}
			
	} // min width sm
		
	@include breakpoint(md) {
		
		.block--01,
		.block--02 {
			width: 50%;
		}
		
		.block--01 {
			float: left;
		}
	
		.block--02 {
			float: right;
		}
		
		.block--instagram {
			.inline-image {
				img {
					max-width: $inline-image-width--md;
				}
			}
		}

		.inline-image {
			img {
				max-width: $inline-image-width--md;
			}
		}
		
		.content {
			width: $content-width--md;
			padding: 16px;
		}
		
		.content--top {
			top: $content-offset--md;
		}
		
		.content--right {
			padding-right: $content-offset--md;
		}
		
		.content--bottom {
			bottom: $content-offset--md;
		}
		
		.content--left {
			padding-left: $content-offset--md;
		}
		
		.content__cta {
			font-size: 12px;
		}
		
		.content--instagram {
			left: 0;
			margin: 0px;
			padding-left: $content-offset--md;
		}
		
		.instagram__account {
			font-size: 12px;
		}
		
		.instagram__message {
			font-size: 13px;
		}
				
	} // min width md
		
	@include breakpoint(lg) {
		
		.block--instagram {
			.inline-image {
				img {
					max-width: $inline-image-width--lg;
				}
			}
		}
		
		.inline-image {
			img {
				max-width: $inline-image-width--lg;
			}
		}
		
		.content {
			width: $content-width--lg;
			padding: 18px;
		}
		
		.content--top {
			top: $content-offset--lg;
		}
		
		.content--right {
			padding-right: $content-offset--lg;
		}
		
		.content--bottom {
			bottom: $content-offset--lg;
		}
		
		.content--left {
			padding-left: $content-offset--lg;
		}
		
		.content--instagram {
			padding-left: $content-offset--lg;
		}
		
		.instagram__account {
			font-size: 14px;
		}
		
		.instagram__message {
			font-size: 15px;
		}
				
	} // min width lg
	
} // .flexible-content