//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {
	
	label, input, textarea, select, fieldset {
		margin: 0px;
		padding: 0px;
		display: block;
		width: 100%;
		min-width: 0px;
	}
	
	input, textarea, label {
		@include transitions-all(300,45);
	}
	
	input, textarea, fieldset {
		border: none;
		outline: none;
	}
	
	input {
		line-height: 90%;
	}
	
	textarea {
		line-height: 120%;
	}
	
	input, textarea {
		padding: 10px;
		border: 1px solid $theme-dark-grey;
		letter-spacing: 0.045em;
		color: $theme-dark-grey;
		border-radius: 0;
		-webkit-appearance: none;
		&:focus {
			background: $theme-light-grey;
		}
		&:hover {
			background: $theme-light-grey;
		}
	}
	
	fieldset, select {
		display: block;
	}

	input, textarea {
		display: inline-block;
	}
	
	label {
		font-size: 90%;
		margin-bottom: 4px;
	}
	
	fieldset {
		margin-bottom: 18px;
		&.submit {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	
	.error-message {
		display: none;
		padding-top: 8px;
		padding-left: 8px;
		p {
			font-size: 84%;
		}
	}
	
	input[type='submit'] {
		@include transitions-all(300,45);
	    font-family: $theme-sans-serif;
		font-weight: 500;
	    letter-spacing: 0.18em;
	    text-transform: uppercase;
	    display: block;
	    text-align: center;
	    padding: 14px 0px;
	    font-size: 12px;
	    line-height: 90%;
	    color: $theme-beige;
	    background: $theme-dark-grey;
		outline: none;
		border: none;
		&:hover {
			background: #000;
		}
	}
	
	@include breakpoint(xs) {} // min width xs
	@include breakpoint(sm) {} // min width sm
	@include breakpoint(md) {} // min width md
	@include breakpoint(lg) {} // min width lg

} // form

.form--gravity-form {
	
	.gform_heading {
		display: none;
	}
	
	.gfield_required, .error, .error-message {
		color: $theme-red;
	}
	
	.gfield {
		margin-bottom: 18px;
	}
	
	form.row {
		.form-field--submit {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	
	@include breakpoint(xs) {} // min width xs
	@include breakpoint(sm) {} // min width sm
	@include breakpoint(md) {} // min width md
	@include breakpoint(lg) {} // min width lg
	
}