.lazyload-container {
	display: block;
	background: #ebe8e8;
	.lazyloaded {
		@include opacity(1);
	}
}

.lazyload-container--image {
	img {
		width: 101%;
	}
}

.lazyload--image,
.lazyload--inline-image,
.lazyload--background-image {
	@include transitions-all( 950, 650 );
	@include opacity(0);
}

.lazyload-container--image {
	min-height: 60px;
}

.lazyload--background-image {
	@include background-cover;
	height: 100%;
}