//////////////////////////////////////////////////////////
////  Menu | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Menu | Styles
//////////////////////////////////////////////////////////

@mixin sans-serif {
	font-family: $theme-sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 0.9;
	letter-spacing: 0.18em;
}

@mixin serif {
	font-family: $theme-serif;
	font-style: italic;
	font-weight: 100;
	letter-spacing: .05em;
	text-transform: none;
}

.menu,
.sub-menu {
	
	margin: 0;
	padding: 0;
	
	&__list,
	&__item {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.1px;
	}
	
	&__list {}
	
	&__item {
		@include sans-serif;
		a {
			color: inherit;
		}
	}
	
	&__item--heading {
		@include serif;
	}
			
	@include breakpoint(xs) {
	
	} // min width xs
	
	@include breakpoint(sm) {
	
	} // min width sm
	
	@include breakpoint(md) {
	
	} // min width md
	
	@include breakpoint(lg) {
	
	} // min width lg
	
} // .menu, .sub-menu