//////////////////////////////////////////////////////////
////  Placeholder Content | Variables
//////////////////////////////////////////////////////////

$placeholder-carousel-height: 220px;
$placeholder-carousel-height-xs: 240px;
$placeholder-carousel-height-sm: 260px;
$placeholder-carousel-height-md: 280px;
$placeholder-carousel-height-lg: 300px;

$placeholder-google-map-height: 220px;
$placeholder-google-map-height-xs: 240px;
$placeholder-google-map-height-sm: 260px;
$placeholder-google-map-height-md: 280px;
$placeholder-google-map-height-lg: 300px;

//////////////////////////////////////////////////////////
////  Placeholder Content | Styles
//////////////////////////////////////////////////////////

.placeholder-content {
  
  	.layout-example {
	  	
	  	margin-bottom: 20px;
	  	
      	.column {
      		height: 50px;
          	width: 100%;
          	background: #e7e7e7;
          	display: block;
        }
      
      	span {
          	@include vertical-center;
          	display: block;
          	text-align: center;
      		color: #000;
        }
        
        &:first-child {
	        margin-top: 20px;
        }
        
        &:last-child {
	        margin-bottom: 0px;
        }
        
    }
  
  	.owl-carousel, .carousel-item {
    	width: 100%;
      	height: $placeholder-carousel-height;
    }
  
  	.google-map {
  		width: 100%;
      	height: $placeholder-google-map-height;
    }

  	@include breakpoint(xs) {
    	
      	.owl-carousel, .carousel-item {
            height: $placeholder-carousel-height-xs;
        }
      
      	.google-map {
            height: $placeholder-google-map-height-xs;
        }
    
    }  // min width xs

	@include breakpoint(sm) {
    
      	.owl-carousel, .carousel-item {
            height: $placeholder-carousel-height-sm;
        }
      
      	.google-map {
            height: $placeholder-google-map-height-sm;
        }
    
    }  // min width sm

    @include breakpoint(md) {
    
      	.owl-carousel, .carousel-item {
            height: $placeholder-carousel-height-md;
        }
      
      	.google-map {
            height: $placeholder-google-map-height-md;
        }
    
    }  // min width md

    @include breakpoint(lg) {
    
    	.owl-carousel, .carousel-item {
            height: $placeholder-carousel-height-lg;
        }
      
      	.google-map {
            height: $placeholder-google-map-height-lg;
        }
    
    }  // min width lg

} // .placeholder-content