{% if cart.item_count > 0 %}
	{% assign emptyCart = false %}
{% else %}
	{% assign emptyCart = true %}
{% endif %}

<div id="cart" class="{% if emptyCart %}empty{% endif %}" role="main">
  
  	{% if emptyCart %}
  
  		<div class="cart__empty">
  
          	<div class="js--match-viewport-height">
		
                <div class="error-message error-message--empty-cart">

                    <div class="wrapper"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                        <h1 class="headline headline--error">Empty Cart</h1>
                        <p>You cart appears to be empty.<br> Click <a href="/collections/all">here</a> to continue shopping.</p>

                    </div></div></div>
                    <!-- /.wrapper .row .col -->

                </div>
              <!-- /.error-message--empty-cart -->

            </div>
          	<!-- /.js--match-viewport-height -->
  		
  		</div>
  		<!-- /.cart__empty -->
    
  	{% else %}
  
  		<div class="cart__main">
          
          	<div class="wrapper"><div class="row"><div class="col-xs-12 col-md-10 col-md-offset-1">
              
            <h1 class="headline headline--section-title">Your Shopping Cart</h1>
          
          	<form action="/cart" method="post">
  
                <ul class="cart-summary cart-summary--table cart-summary--header">
                  	<li class="cart-summary-cell cart-summary-cell--image"></li>
                    <li class="cart-summary-cell cart-summary-cell--info"></li>
                    <li class="cart-summary-cell cart-summary-cell--price">Price</li>
                    <li class="cart-summary-cell cart-summary-cell--quantity">Quantity</li>
                    <li class="cart-summary-cell cart-summary-cell--total">Total</li>
                </ul>
                <!-- /.cart-summary--header -->
  
 				<ul class="cart-summary cart-summary--main">

    				{% for item in cart.items %}  
                  
                  		{% assign productTitle = item.product.title %}
                  		{% assign variantTitle = item.variant.title %}
                  		{% assign productPermalink = item.url %}

                  		<li class="cart-summary-item cart-summary-item--main">
                  
                          	<ul class="cart-summary cart-summary--table cart-summary--line-item">
                              
                              	<li class="cart-summary-cell cart-summary-cell--image">
                                  	<a href="{{ productPermalink }}">
                    					<img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
                  					</a>
                             	</li>
                                <li class="cart-summary-cell cart-summary-cell--info">
                                  	<h2 class="headline headline--product-title"><a href="{{ productPermalink }}">{{ productTitle }}</a></h2>
                                  	<p class="product-variant-title">{{ variantTitle }}</p>
                              		<a class="button button--remove-line-item" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
                              	</li>
                                <li class="cart-summary-cell cart-summary-cell--price">{{ item.price | money }}</li>
                                <li class="cart-summary-cell cart-summary-cell--quantity"><input class="product-quantity" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /></li>
                                <li class="cart-summary-cell cart-summary-cell--total">{{ item.line_price | money }}</li>
                          	
                          	</ul>
                  			<!-- /.cart-summary--line-item -->
                          
                  		</li>
                  		<!-- /.cart-summary-item--main -->
                                                                                
                    {% endfor %}                                                            
                
              	</ul>   
              	<!-- /.cart-summary--main -->
              
              	<div class="cart-summary cart-summary--note" style="display:none;">
              		<textarea name="note" >{{ cart.note }}</textarea>
              	</div>
              	<!-- /.cart-summary--note -->
              
              	<div class="cart-summary cart-summary--checkout">
              
                	<span class="cart-summary-meta cart-summary-meta--subtotal">Subtotal: <strong>{{ cart.total_price | money }}</strong></span>
                  	<span class="cart-summary-meta cart-summary-meta--continue-shopping"><a href="/collections/all">Continue shopping?</a></span>
                  	<input class="button button--inline button--update-cart" type="submit" name="update" value="Update cart" />
                  	<input class="button button--inline button--checkout" type="submit" name="checkout" value="Check out" />    
             
              	</div>
				<!-- /.cart-summary--checkout -->
              
          	</form>
                             
		</div></div></div>  
        <!-- /.wrapper .row .col -->    
          
  	</div>
   		<!-- /.cart__main -->
  
  	{% endif %}
  
</div>
<!-- /#cart -->