{% assign collectionTemplate = collection.template_suffix %}
{% assign collectionTitle = collection.title %}
{% assign collectionDescription = collection.description %}
{% assign collectionHasImage = false %}
{% assign showCollectionInfo = false %}
{% assign showCollectionImage = false %}
{% assign collectionImageURL = "" %}
{% assign paginationCount = 48 %}

{% assign collection-handle = collection.hanle %}

{% if collection.image %}
	{% assign collectionHasImage = true %}
	{% assign collectionImageURL = collection.image | img_url: '1200x' %}
{% endif %}

<div id="collection" class="{{ collectionTemplate }}" role="main">
  
{% if collection.products_count > 0 %}
      
  	<div class="collection-cover {% if collectionHasImage %}collection-cover--with-image{% endif %}">
      	
      	<div class="wrapper"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1">
          
        	{% if collectionHasImage %}
            	<div class="collection-cover__image lazyload-container lazyload-container--background-image">
	            	  <div class="lazyload lazyload--background-image" data-bg="{{ collectionImageURL }}"></div>
            	</div>
                <div class="collection-cover__overlay"></div>
           	{% endif %}

          	<h1 class="collection-cover__heading" style="display: none;">{{ collectionTitle }}</h1>

         	<nav class="navigation navigation--collection">
				<ul>
					{% for link in linklists.products.links %}
						<li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>	
					{% endfor %}
               	</ul>
          	</nav>
            <!-- /.navigation--collection -->
                              
        </div></div></div>
		<!-- /.wrapper .row .col -->
          
	</div>
	<!-- /.collection-cover -->  
    		
	{% if collectionDescription.size > 0 and showCollectionInfo %}
	<div class="collection-info">
      	
		<div class="wrapper"><div class="row"><div class="col-xs-12">

			<div class="collection-info__content">
				{{ collectionDescription }}
			</div>
			<!-- /.collection-desc -->

		</div></div></div>
		<!-- /.wrapper .row .col -->

	</div>
	<!-- /.collection-info -->
	{% endif %}	
    
	{% paginate collection.products by paginationCount %}

   	<div class="collection-of-products no-way">

		<div class="wrapper"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<ul class="collection-product-list row">

				{% for product in collection.products %}
                  
						{% assign productFeaturedImageSrc = product.featured_image | product_img_url: '1000x' %}
                  		{% assign productTitle = product.title %}
                  		{% assign productURL = product.url | within: collection %}
                  		{% assign productPrice = product.price | money %}
                  		{% assign productType = product.type %}

                       	<li class="collection-item col-xs-12 col-sm-6 col-md-4">
                          
                          	<div class="collection-product">

                                <a href="{{ productURL }}" style>

                                      <div class="product-image">   
	                                      
	                                     <div class="lazyload-container lazyload-container--image">
	                                        <img class="lazyload lazyload--image" data-src="{{ productFeaturedImageSrc }}" alt="{{ productTitle }}"/>
                                         </div>                           

                                          <div class="product-image__overlay">
                                              <span class="product-meta product-meta--product-cta"></span>
                                          </div>
                                          <!-- /.product-image__overlay -->

                                      </div>
                                      <!-- /.product-image -->

                                      <div class="product-info">

                                          <h3 class="product-info__title">{{ productTitle }}</h3>
                                          <!-- /.product-info__title -->

                                            {% if false %}
                                                <p class="product-info__teaser">Medium hold for slick or textured style</p>
                                            {% endif %}

                                          {% for variant in product.variants %}
                                              {% if forloop.first %}
                                                  {% assign firstVarianPrice = variant.price | money_without_currency %}
                                              {% endif %}
                                          {% endfor %}

                                            <div class="product-info__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span class="product-price--currency-symbol" itemprop="priceCurrency" content="{{ shop.currency }}">$</span>
                                                <span class="product-price--amount" itemprop="price" content="{{ firstVarianPrice }}">{{ firstVarianPrice }}</span>
                                                <span class="product-price--currency">{{ shop.currency }}</span>
                                              
                                            </div>
                                            <!-- /.product-info__price -->

                                      </div>
                                      <!-- /.product-info -->

                                </a>

                                <div class="collection-item-cta">

                                    <ul class="collection-item-cta__variant-list">

                                        {% assign inStock = product.available %}

                                        {% for variant in product.variants %}

                                            {% assign variantID = variant.id %}
                                            {% assign available = variant.available %}

                                            {% if available %}
                                              <li class="collection-item-cta__variant-list-item updated {% if variant == product.first_available_variant %}selected{% endif %}" data-variant-id="{{ variantID }}">
	                                                {% unless 'Default Title' == variant.title %}
	                                                	{{ variant.title }}
	                                                {% endunless %}
	                                            </li>
                                            {% else %}
                                              <li class="collection-item-cta__variant-list-item not-available" data-variant-id="{{ variantID }}">
	                                                {% unless 'Default Title' == variant.title %}{{ variant.title }}{% endunless %}
	                                            </li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>	
                                    <!-- /.collection-item-cta__variant-list -->

                                    {% if inStock %}
                                        <div class="collection-button collection-button--add-to-cart add-to-cart">Add to Cart</div>
                                        <input name="variantID" type='text' value="{{ product.first_available_variant.id }} " style="display:none;"/>
                                    {% else %}
                                        <div class="collection-button collection-button--out-of-stock">Out of Stock</div>
                                    {% endif %}

                                </div>
                              
                          	</div>
                          	<!-- /.collection-product -->
                                                        	
						</li>
						<!-- /.collection-item -->
                      
				{% endfor %}

			</ul>
			<!-- /.collection-product-list -->

			{% include 'collection--pagination' %}

		</div></div></div>
      	<!-- /.wrapper .row .col -->

	</div>
	<!-- /.collection-of-products -->
  
	{% endpaginate %}
  
{% else %}  
  
	<div class="collection-empty">
      
    	<div class="wrapper"><div class="row"><div class="col-xs-12">
          	
          	<div class="collection-empty__content">
				<h2>It appears that are no more items in this collection</h2>
				<p>You can continue browsing <a href="/collections/all">here</a>.</p>
            </div>  
            
		</div></div></div>
      	<!-- /.wrapper .row .col -->
          
	</div>
	<!-- /.collection-empty -->
  
{% endif %}

</div>
<!-- /#collection -->