<div id="index" class="page page--index" role="main">
  
	<div class="collection">
		{% if collections['grooming'].products_count > 0 %}
			{% render 'collection--grid', collection_handle: 'grooming', collection_pagination: 20 %}
		{% endif %}
	</div>

</div>
<!-- /#index -->