{% assign pageTitle = page.title %}
{% assign pageContent = page.content %}
{% assign pageHandle = page.handle %}
{% assign pageTemplate = page.template_suffix %}

<div id="page" class="default {{ pageTemplate }}" role="main">
  
  	<div class="block block--default-content">
		<div class="wrapper"><div class="row"><div class="col-xs-12 col-md-10 col-md-offset-1">
  
        	<h1 class="headline headline--section-title">{{ pageTitle }}</h1>
            <div class="page__content rte">
				{{ pageContent }}
			</div>
          	<!-- /.page__content -->
              
      	</div></div></div>
		<!-- /.wrapper .row .col -->
				
	</div>
	<!-- /.block--default-content -->

</div>
<!-- /#page -->