{% assign product_title = product.title %}
{% assign product_template = product.template_suffix %}
{% assign product_type = product.type %}
{% assign product_description = product.description %}
{% assign in_stock = product.available %}

{% assign has_tags = false %}
{% if product.tags.size > 0 %}
	{% assign has_tags = true %}
{% endif %}

{% assign has_images = false %}
{% if product.images.size > 0 %}
	{% assign has_images = true %}
{% endif %}

{% comment %}
Check to see if there are images / videos for the 'product' gallery.
{% endcomment %}

{% assign has_product_images = false %}
{% assign is_product_gallery = false %}
{% assign product_gallery_count = 0 %}

{% if has_images %}
	{% for image in product.images %}
		{% unless image.alt contains "lifestyle" %}
			{% assign product_gallery_count = product_gallery_count | plus: 1 %}
		{% endunless %}
		{% if product_gallery_count > 1 %}
			{% assign is_product_gallery = true %}
		{% endif %}
	{% endfor %}
{% endif %}

{% comment %}
Check to see if there are images / videos for the 'lifestyle' gallery.
{% endcomment %}

{% assign has_lifestyle_images = false %}
{% assign is_lifestyle_gallery = false %}
{% assign lifestyle_gallery_count = 0 %}
{% if has_images %}
	{% for image in product.images %}
		{% if image.alt contains "lifestyle" %}
			{% assign lifestyle_gallery_count = lifestyle_gallery_count | plus: 1 %}
			{% assign has_lifestyle_images = true %}
		{% endif %}
		{% if lifestyle_gallery_count > 1 %}
			{% assign is_lifestyle_gallery = true %}
		{% endif %}
	{% endfor %}
{% endif%}

{% assign carousel-nav-next-beige = 'BARBER--ui-icon--carousel-next--beige.svg' | asset_url %}
{% assign carousel-nav-next-dark-grey = 'BARBER--ui-icon--carousel-next--dark-grey.svg' | asset_url %}
{% assign carousel-nav-next-mid-grey = 'BARBER--ui-icon--carousel-next--mid-grey.svg' | asset_url %}
{% assign carousel-nav-next-light-grey = 'BARBER--ui-icon--carousel-next--light-grey.svg' | asset_url %}

<div id="product" class="{{ product_template }} product updated" itemscope itemtype="http://schema.org/Product" data-product-info='{"ID":"{{product.id}}"}'>
   
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  	<meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  
  	{% if in_stock %}
  		<input name="variantID" type='text' value="{{ product.first_available_variant.id }}" style="display:none;"/>
  	{% endif %}
 
    <div class="product__info product__info--mobile-only">
	    
	    {% if has_tags %}
			{% for tag in product.tags %}
				<span class="product-info__type product-info__tag">{{ tag }}</span>
				{% unless forloop.first %}
					{% break %}
				{% endunless %}
            {% endfor %}
		{% endif %}
                  
		<h1 class="product-info__title" itemprop="name">{{ product_title }}</h1>
          
		{% for variant in product.variants %}
			{% if forloop.first %}
				{% assign firstVarianPrice = variant.price | money_without_currency %}
			{% endif %}
		{% endfor %}

		<div class="product-info__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<span class="product-price--currency-symbol" itemprop="priceCurrency" content="{{ shop.currency }}">$</span>
			<span class="product-price--amount" itemprop="price" content="{{ firstVarianPrice }}">{{ firstVarianPrice }}</span>
      <span class="product-price--currency">{{ shop.currency }}</span>
		</div>
		<!-- /.product-info__price -->

		<div class="product-info__cta">
			{% if product.variants.size > 0 %}
				<ul class="variants-list">
  				
  				{% if product.variants.size > 1 %}
					  <li class="variants-list-item variants-list-item--heading">Options:</li>
          {% endif %}
          
				  {% for variant in product.variants %}
  						<li class="variants-list-item variants-list-item--option {% unless variant.available %}not-available{% endunless %}" data-variant-info='{ "ID":"{{ variant.id }}", "available":"{{ variant.available }}", "inventory":"{{ variant.inventory_quantity }}", "sku":"{{ variant.sku }}", "name":"{{ variant.title }}", "price":"{{ variant.price }}" }'>{% unless 'Default Title' == variant.title %}{{ variant.title }}{% endunless %}</li>
					{% endfor %}
  					
        </ul>
			{% endif %}
                                    	
			{% if in_stock %}
				<div class="product-button product-button--add-to-cart add-to-cart">Add to Cart</div>
			{% else %}
				<div class="product-button product-button--out-of-stock">Out of Stock</div>
			{% endif %} 
              
		</div>
		<!-- /.product-cta --> 
	    
    </div>
    <!-- /.product__info--mobile-only -->
    
    <div class="product__main">
      
		{% if has_images %}
			
			<div class="product__gallery product__gallery--main {% if is_product_gallery %}PRODUCT GALLERY{% endif %}">
					    
				{% if is_product_gallery %}              	              
					<div class="carousel-container carousel-container--gallery-product" id="gallery-product">					
					<div class="carousel owl-carousel carousel--feature">
				{% endif %}
			                            
				{% for image in product.images %}
		                                	
					{% unless image.alt contains "lifestyle" %}
					
						{% if image.alt contains 'product-video' %}
						
							{% assign video_fallback_img_src = image.src | img_url: '900x' %}
							{% assign video_src = image.alt %}
		                                			
							<div class="background-video" data-video-src='{{ video_fallback_img_src }}'>
			                                			
								<div class="background-video__fallback-image lazyload-container lazyload-container">
									<div class="lazyload lazyload--background-image" data-bg='{{ video_fallback_img_src  }}'></div>
								</div>
								<!-- /.background-video__fallback-image -->
														
								<div class="background-video__video">
									<video loop autoplay muted>
										<source data-src='{{ video_src }}' data-type='video/mp4' />
									</video>
								</div>
								<!-- /.background-video__video -->
				
							</div>
							<!-- /.background-video -->
							
						{% else %}
						
							{% assign image_src = image.src | img_url: '900x' %}	                            
							<div class="image lazyload-container lazyload-container--image">
								<img class="lazyload lazyload--image" data-src="{{ image_src }}" alt="{{ product_title }} Product Images"/>
							</div>    
						
						{% endif %}

					{% endunless %}
				
				{% endfor %}
								                         
				{% if is_product_gallery %}         
			                 
					</div>
					<!-- /.owl-carousel -->
		          
					<div class="carousel-nav carousel-nav--prev prev">
						<img src='{{ carousel-nav-next-beige }}' alt="Previous"/>
					</div>
					
					<div class="carousel-nav carousel-nav--next next">
						<img src='{{ carousel-nav-next-beige }}' alt="Next"/>
					</div>
		                
					</div>
					<!-- /#feature-product-image-carousel -->
		                
				{% endif %}
		
			</div>
			<!-- /.product-info__main--gallery-product -->
		        	              
		{% else %}
			<!-- No Feature Product Images! -->
		{% endif %}
	
		<div class="product__info product__info--desktop">
			
			<div class="content content--vertical-centered">
	                      
				{% if has_tags %}
					{% for tag in product.tags %}
						<span class="product-info__type product-info__tag">{{ tag }}</span>
						{% unless forloop.first %}
							{% break %}
						{% endunless %}
					{% endfor %}
				{% endif %}
		                    
		        <h1 class="product-info__title" itemprop="name">{{ product_title }}</h1>
		
				{% for variant in product.variants %}
					{% if forloop.first %}
		                {% assign firstVarianPrice = variant.price | money_without_currency %}
		            {% endif %}
				{% endfor %}
		
		        <div class="product-info__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		            <span class="product-price--currency-symbol" itemprop="priceCurrency" content="{{ shop.currency }}">$</span>
		            <span class="product-price--amount" itemprop="price" content="{{ firstVarianPrice }}">{{ firstVarianPrice }}</span>
		            <span class="product-price--currency">{{ shop.currency }}</span>
		        </div>
				<!-- /.product-info__price -->
				
				<div class="product-desc product-desc--main" id="product-description" itemprop="description" style="margin-top: 15px;">{{ product_description }}</div>
			    <!-- /#product-description -->
			
			    <div class="product-desc product-desc--extras tabs-content-container" id="product-description-extras"></div>
			    <!-- /#product-description-extras -->
			    
			    <div class="product-info__cta">
		                                  
					<ul class="variants-list">
  					
  					{% if product.variants.size > 1 %}
						  <li class="variants-list-item variants-list-item--heading">Option:</li>
						{% endif %}
						
						{% for variant in product.variants %}
		
							{% assign variantID = variant.id %}
							{% assign available = variant.available %}
		
		          <li class="variants-list-item variants-list-item--option {% unless available %}not-available{% endunless %}" data-variant-info='{ "ID":"{{ variant.id }}", "available":"{{ variant.available }}", "inventory":"{{ variant.inventory_quantity }}", "sku":"{{ variant.sku }}", "name":"{{ variant.title }}", "price":"{{ variant.price }}" }'>{% unless 'Default Title' == variant.title %}{{ variant.title }}{% endunless %}</li>
		
						{% endfor %}
					</ul>
		                                  
					{% if in_stock %}
						<div class="product-button product-button--add-to-cart add-to-cart">Add to Cart</div>
					{% else %}
						<div class="product-button product-button--out-of-stock">Out of Stock</div>
		      {% endif %}
		                                  
				</div>
				<!-- /.product-cta -->
			
			</div>
			<!-- /.content -->
			
		</div>
	    <!-- /.product-info__main--info -->
	    
    </div>
    <!-- /.product__main -->
	   		
	{% if has_lifestyle_images %}
	
		<div class="product__gallery product__gallery--lifestyle">
				
			{% if is_lifestyle_gallery %}              	              
				<div class="carousel-container carousel-container--gallery-product" id="gallery-lifestyle">					
				<div class="carousel owl-carousel carousel--feature">
			{% endif %}
							
			{% for image in product.images %}
		                                                                	
				{% if image.alt contains 'lifestyle' %}
		                                	
					{% if image.alt contains 'lifestyle-image' %}
						{% assign image_src = image.src | img_url: '900x' %}	                            
						<div class="background-image lazyload-container lazyload-container--background-image">
			                <div class="lazyload lazyload--background-image" data-bg="{{ image_src }}"></div>
						</div>    
					{% endif %}
												
					{% if image.alt contains 'lifestyle-video' %}
										
						{% assign video_fallback_img_src = image.src | img_url: '900x' %}
						{% assign video_src = image.alt %}
		                               			
						<div class="background-video" data-video-src='{{ video_fallback_img_src }}'>
			                                			
			                <div class="background-video__fallback-image lazyload-container lazyload-container">
								<div class="lazyload lazyload--background-image" data-bg='{{ video_fallback_img_src  }}'></div>
							</div>
							<!-- /.background-video__fallback-image -->
														
							<div class="background-video__video">
								<video loop autoplay muted>
									<source data-src='{{ video_src }}' data-type='video/mp4' />
								</video>
							</div>
							<!-- /.background-video__video -->
				
						</div>
		                <!-- /.background-video -->
		                                			  
					{% endif %}
									
				{% endif %}
		                                    
			{% endfor %}
			
			{% if is_lifestyle_gallery %}         
			                 
		        </div>
				<!-- /.owl-carousel -->
		          
		        <div class="carousel-nav carousel-nav--prev prev"><img src='{{ carousel-nav-next-beige }}' alt="Carousel Navigation Icon 'Previous'"/></div>
		        <div class="carousel-nav carousel-nav--next next"><img src='{{ carousel-nav-next-beige }}' alt="Carousel Navigation Icon 'Next'"/></div>
		                
		        </div>
				<!-- /#feature-product-image-carousel -->
		                
			{% endif %}
			
		</div>
		<!-- /.product__gallery--lifestyle -->
	
	{% else %}
		<!-- No Lifestyle Images! -->
	{% endif %}
	  	  
	{% assign enableRecommendedProducts = false %}
	{% if enableRecommendedProducts %}
		{% include 'product--recommended-products' %}
	{% endif %}
           
</div>
<!-- /#product -->