{% comment %}
The search.liquid template is not a required template.
That search.liquid template is included in the current theme to make it easier for you 
to customize your /search page.
Whether you are using your own template for the search page or not,
the {{ content_for_header }} tag in theme.liquid will always output the following on the /search page:
<link rel="stylesheet" href="//cdn.shopify.com/s/global/search.css" type="text/css" />
So the /search page is always styled by a globally-hosted stylesheet called search.css.
You may override and complement that CSS in your theme's stylesheet.
We are using a div#searchresults below so that the styles defined in search.css get
applied to the elements on this page; the 'searchresults' id is used in the CSS
selectors inside search.css.
{% endcomment %}

<div id="searchresults">
  
    <section id="search-header">
      <div class="wrapper">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1>Search for Products</h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.wrapper -->
    </section>
    <!-- /#search-header -->
  
  	<section id="search-form">
  
      	<div class="wrapper">
        	<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      
                    <form action="/search" method="get" class="search-form" role="search">
                      <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
                      <input type="submit" id="search-submit" value="Search" />
                    </form>

                </div>
              	<!-- /.col -->
            </div>
          	<!-- /.row -->
        </div>
      <!-- /.wrapper -->
	
  	</section>
  	<!-- /#search-form -->
      
  {% comment %}
  search.performed is false when accessing the /search page without a 'q' parameter set
  in the URL. A shop-owner can link to the /search page from one of his link lists.
  It is important to show a search form on that page if search.performed is false.
  {% endcomment %}
  
  {% if search.performed %}
    
    {% paginate search.results by 9 %}
    
    {% comment %}
    Common pitfall to avoid: search.results should never be accessed before the opening 
    paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
    search.liquid template if you need to.
    If you fail to do the above, the pagination of search results will be broken.
    search.results_count is fine to access in or out of the paginate block.
    {% endcomment %}
  
    {% if search.results_count == 0 %}  
  
        <section id="search-error">
          	
          <div class="wrapper">
        	<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

             		<p class="centered">Your search for "{{ search.terms }}" did not yield any results.</p> 	

                </div>
              	<!-- /.col -->
            </div>
          	<!-- /.row -->
        	</div>
      		<!-- /.wrapper -->
                  
        </section>

    {% else %}
  
  		<section id="search-results">
  
          	<div class="wrapper">
              	<div class="row">
                  	<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          
                          <ul>
                            {% for item in search.results %}      
                            <li>
                              	<div class="row">
                                  	<div class="col-md-4">
                                      	<a href="{{ item.url }}" title="{{ item.title | escape }}">
                                          {% if item.vendor %}
                                              <div class="result-image">

                                                    {{ item | img_url: 'large' | img_tag: item.featured_image.alt }}

                                              </div>
                                          {% endif %}
                                          <h2 class="result-title">{{ item.title}}</h2>
                                        </a>  
                                    </div>
                                  	<!-- /.col -->
                                    <div class="col-md-8">
                                    	<span class="result-summary">{{ item.content | strip_html | truncatewords: 50 | highlight: search.terms }}</span>     
                                  	</div>
                                  	<!-- /.col-md-8 -->
                              	</div>
                              	<!-- /.row -->
                            </li>
                            {% endfor %}
                          </ul>
                      
                  </div>
                  <!-- /.col -->
              </div>
              <!-- /.row -->
          </div>
          <!-- /.wrapper -->
          
  		</section>
  
    {% endif %}    
    
    {% if paginate.pages > 1 %}
        <section id="pagination">
          	<div class="wrapper">
              	<div class="row">
                  	<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          				{{ paginate | default_pagination }}
                   	</div>
                  	<!-- /.col -->
              	</div>
              	<!-- /.row -->
          	</div>
         	<!--/.wrapper -->
        </section>
    {% endif %}
    
    {% endpaginate %}    
    
  {% endif %}  

</div>
<!-- /#search-results -->